### F Score Implementation - May 2019

In [1]:
# importing packages 
from datetime import datetime
import locale
from locale import atof
import pickle
import time
import random
import re

import numpy as np
import pandas as pd

import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions as EC 

# sqlalchemy packages 
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, Numeric, String, DateTime, ForeignKey
from sqlalchemy.orm import sessionmaker, relationship, backref
from sqlalchemy.ext.declarative import declarative_base

#### Creating Universe for F Score

In [17]:
# Getting DATA of KOSPI 
def get_univ_data(market, page_num):
    def clean_value(value):
        if ',' in value: 
            value = value.replace(',', '')
    
        return value
    
    mkt = market 
    
    if mkt == 0: 
        kospi_id_ls = []
        kospi_name_ls = []
        kospi_number_classes = []
    
        for page in range(1, page_num+1):
            url = """http://finance.naver.com/sise/field_submit.nhn?menu=market_sum&returnUrl=http%3A%2F%2Ffinance.naver.com%2Fsise%2Fsise_market_sum.nhn%3Fsosok%3D{0}%26page%3D{1}&fieldIds={2}&fieldIds={3}&fieldIds={4}&fieldIds={5}&fieldIds={6}&fieldIds={7}""".format(mkt, page, 'quant', 'listed_stock_cnt', 'market_sum', 'property_total', 'debt_total', 'pbr')
    
            req = requests.get(url)
            html = req.text 
    
            soup = BeautifulSoup(html, 'lxml')
        
            kospi_ids = soup.select('a[href*="/item/main.nhn"]')
            kospi_univ_sets = soup.select('td[class^="number"]')
        
            # Looping stock ids and names 
            for id in kospi_ids: 
                kospi_id_ls.append(str(id).strip('"<>/a').split('=')[-1].split('">')[0])
                kospi_name_ls.append(str(id).strip('"<>/a').split('=')[-1].split('">')[1])
        
            # Looping Number Classes for each stock
            for item in kospi_univ_sets: 
                kospi_number_classes.append(item.string)
                
        # Convert stock ids & names lists to Pandas DF 
        df_kospi = pd.DataFrame({'id' : kospi_id_ls, 'name': kospi_name_ls, 'market_type': 1}, columns = ['id', 'name','market_type', 'quant', 'market_sum', 'property_total', 'debt_total', 'listed_stock_cnt', 'pbr', 'face_value',])

        # Slicing and creating an individual list for each category 
        present_value = [clean_value(v) for v in kospi_number_classes[::10]]
        face_value = [clean_value(v) for v in kospi_number_classes[3::10]]
        quant = [clean_value(v) for v in kospi_number_classes[4::10]]
        listed_stock_cnt = [clean_value(v) for v in kospi_number_classes[5::10]]
        market_sum = [clean_value(v) for v in kospi_number_classes[6::10]] 
        property_total = [clean_value(v) for v in kospi_number_classes[7::10]]
        debt_total = [clean_value(v) for v in kospi_number_classes[8::10]]
        pbr = [clean_value(v) for v in kospi_number_classes[9::10]] 

        # Put each category list to DF
        df_kospi['present_value'] = pd.to_numeric(present_value, errors='coerce')
        df_kospi['quant'] = pd.to_numeric(quant, errors='coerce')
        df_kospi['property_total'] = pd.to_numeric(property_total, errors='coerce')
        df_kospi['debt_total'] = pd.to_numeric(debt_total, errors='coerce')
        df_kospi['listed_stock_cnt'] = pd.to_numeric(listed_stock_cnt, errors='coerce')
        df_kospi['pbr'] = pd.to_numeric(pbr, errors='coerce')
        df_kospi['market_sum'] = pd.to_numeric(market_sum, errors='coerce')
        df_kospi['face_value'] = pd.to_numeric(face_value, errors='coerce')   
        
        return df_kospi
    
    elif mkt == 1: 
        kosdaq_id_ls = []
        kosdaq_name_ls = [] 
        kosdaq_number_classes = []
        
        for page in range(1, page_num+1):
            url = """http://finance.naver.com/sise/field_submit.nhn?menu=market_sum&returnUrl=http%3A%2F%2Ffinance.naver.com%2Fsise%2Fsise_market_sum.nhn%3Fsosok%3D{0}%26page%3D{1}&fieldIds={2}&fieldIds={3}&fieldIds={4}&fieldIds={5}&fieldIds={6}&fieldIds={7}""".format(mkt, page, 'quant', 'listed_stock_cnt', 'market_sum', 'property_total', 'debt_total', 'pbr' )
            
            req = requests.get(url)
            html = req.text
            
            soup = BeautifulSoup(html, 'lxml')
            
            kosdaq_ids = soup.select('a[href*="/item/main.nhn"]')
            kosdaq_univ_sets = soup.select('td[class^="number"]')
    
            # Looping KOSDAQ ids and names 
            for id in kosdaq_ids:
                kosdaq_id_ls.append(str(id).strip('"<>/a').split('=')[-1].split('">')[0])
                kosdaq_name_ls.append(str(id).strip('"<>/a').split('=')[-1].split('">')[1])
    
            # Looping Number classes for each stock 
            for item in kosdaq_univ_sets: 
                kosdaq_number_classes.append(item.string)
       
        # convert KOSDAQ ids & names lists to Pandas DF 
        df_kosdaq = pd.DataFrame({'id' : kosdaq_id_ls, 'name' : kosdaq_name_ls, 'market_type' : 2}, columns = ['id', 'name','market_type', 'quant', 'market_sum', 'property_total', 'debt_total', 'listed_stock_cnt', 'pbr', 'face_value',])
        
        # Slicing and Put into df_kosdaq
        # Slicing and creating an individual list for each category 
        present_value = [clean_value(v) for v in kosdaq_number_classes[::10]]
        face_value = [clean_value(v) for v in kosdaq_number_classes[3::10]]
        quant = [clean_value(v) for v in kosdaq_number_classes[4::10]]
        listed_stock_cnt = [clean_value(v) for v in kosdaq_number_classes[5::10]]
        market_sum = [clean_value(v) for v in kosdaq_number_classes[6::10]]
        property_total = [clean_value(v) for v in kosdaq_number_classes[7::10]]
        debt_total = [clean_value(v) for v in kosdaq_number_classes[8::10]]
        pbr = [clean_value(v) for v in kosdaq_number_classes[9::10]] 

        # Put each category list to DF
        df_kosdaq['present_value'] = pd.to_numeric(present_value, errors='coerce')
        df_kosdaq['quant'] = pd.to_numeric(quant, errors='coerce')
        df_kosdaq['property_total'] = pd.to_numeric(property_total, errors='coerce')
        df_kosdaq['debt_total'] = pd.to_numeric(debt_total, errors='coerce')
        df_kosdaq['listed_stock_cnt'] = pd.to_numeric(listed_stock_cnt, errors='coerce')
        df_kosdaq['pbr'] = pd.to_numeric(pbr, errors='coerce')
        df_kosdaq['market_sum'] = pd.to_numeric(market_sum, errors='coerce')
        df_kosdaq['face_value'] = pd.to_numeric(face_value, errors='coerce')    
        
        return df_kosdaq

In [18]:
df_kospi = get_univ_data(0, 31) #2019년 5월 기준 31페이지
df_kosdaq = get_univ_data(1, 27) #2019년 5월 기준 27 페이지

In [19]:
df_univ = pd.concat([df_kospi, df_kosdaq], ignore_index=True)

In [20]:
bm_columns = ['id', 'market_type', 'market_sum', 'property_total', 'debt_total', 'pbr']
df_bm = df_univ[bm_columns]

In [21]:
df_bm.head(5)

       id  market_type  market_sum  property_total  debt_total   pbr
0  005930            1     2611780       3393572.0    916041.0  1.24
1  000660            1      495770        636583.0    168060.0  0.99
2  005935            1      289245             NaN         NaN  0.99
3  005380            1      272427       1806558.0   1067597.0  0.50
4  068270            1      233559         35406.0      9078.0  9.16

In [22]:
df_bm['book_value'] = df_bm['property_total'] - df_bm['debt_total']

/Users/daesikkim/anaconda3/envs/BigBull/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [23]:
df_bm['bm_ratio'] = df_bm['book_value'] / df_bm['market_sum']

/Users/daesikkim/anaconda3/envs/BigBull/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [24]:
df_bm['bm_decile'] = pd.qcut(df_bm['bm_ratio'], 10, labels=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
df_bm['pbr_decile'] = pd.qcut(df_bm['pbr'], 10, labels=[10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

/Users/daesikkim/anaconda3/envs/BigBull/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/daesikkim/anaconda3/envs/BigBull/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [25]:
df_bm.head(10)

,id,market_type,market_sum,property_total,debt_total,pbr,book_value,bm_ratio,bm_decile,pbr_decile
0,005930,1,2611780,3393572.0,916041.0,1.24,2477531.0,0.948599,6.0,5
1,000660,1,495770,636583.0,168060.0,0.99,468523.0,0.945041,6.0,6
2,005935,1,289245,NaN,NaN,0.99,NaN,NaN,NaN,6
3,005380,1,272427,1806558.0,1067597.0,0.50,738961.0,2.712510,10.0,9
4,068270,1,233559,35406.0,9078.0,9.16,26328.0,0.112725,1.0,1
5,051910,1,230131,289441.0,116220.0,1.46,173221.0,0.752706,5.0,4
6,055550,1,219554,4596005.0,4229491.0,0.61,366514.0,1.669357,8.0,8
7,005490,1,201838,782483.0,314887.0,0.43,467596.0,2.316690,10.0,10
8,207940,1,200811,59804.0,18249.0,4.83,41555.0,0.206936,1.0,1
9,012330,1,200621,430711.0,123677.0,0.65,307034.0,1.530418,8.0,8

In [26]:
# Fscore university top 50%
df_fscore_univ = df_bm.query('bm_decile > 5')
df_fscore_univ_ids = df_fscore_univ['id']

In [27]:
len(df_fscore_univ_ids)

1055

In [28]:
df_fscore_univ_20 = df_bm.query('bm_decile > 8')
df_ids_20 = df_fscore_univ_20['id']

In [29]:
len(df_ids_20)

422

### BM Ratio by markets

In [49]:
df_kospi.keys()

Index(['id', 'name', 'market_type', 'quant', 'market_sum', 'property_total',
       'debt_total', 'listed_stock_cnt', 'pbr', 'face_value', 'present_value'],
      dtype='object')

In [50]:
df_bm_kospi = df_kospi.copy()

In [51]:
df_bm_kospi['book_value'] = df_bm_kospi.property_total - df_bm_kospi.debt_total

In [52]:
df_bm_kospi['bm_ratio'] = df_bm_kospi.book_value / df_bm_kospi.market_sum

In [53]:
df_kosdaq.keys()

Index(['id', 'name', 'market_type', 'quant', 'market_sum', 'property_total',
       'debt_total', 'listed_stock_cnt', 'pbr', 'face_value', 'present_value'],
      dtype='object')

In [54]:
df_bm_kosdaq = df_kosdaq.copy()

In [55]:
df_bm_kosdaq['book_value'] = df_bm_kosdaq.property_total - df_bm_kosdaq.debt_total

In [56]:
df_bm_kosdaq['bm_ratio'] = df_bm_kosdaq.book_value / df_bm_kosdaq.market_sum

In [57]:
df_bm_kospi['bm_decile'] = pd.qcut(df_bm_kospi['bm_ratio'], 10, labels=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
df_bm_kospi['pbr_decile'] = pd.qcut(df_bm_kospi['pbr'], 10, labels=[10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

df_bm_kosdaq['bm_decile'] = pd.qcut(df_bm_kosdaq['bm_ratio'], 10, labels=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
df_bm_kosdaq['pbr_decile'] = pd.qcut(df_bm_kosdaq['pbr'], 10, labels=[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]) #필터링 시 방행반대

In [58]:
df_bm_kospi_t20 = df_bm_kospi.query('(bm_decile >= 8) & (pbr_decile >= 8)')
df_bm_kosdaq_t20 = df_bm_kosdaq.query('(bm_decile >= 8) & (pbr_decile >= 8)')

In [59]:
df_bm_t20 = pd.concat([df_bm_kospi_t20, df_bm_kosdaq_t20])

In [60]:
df_bm_kospi_t50 = df_bm_kospi.query('(bm_decile >= 5) & (pbr_decile >= 5)')
df_bm_kosdaq_t50 = df_bm_kosdaq.query('(bm_decile >= 5) & (pbr_decile >= 5)')

In [61]:
df_bm_t50 = pd.concat([df_bm_kospi_t50, df_bm_kosdaq_t50])

In [41]:
df_fscore_univ_ids = df_bm_t50['id']

In [42]:
len(df_fscore_univ_ids)

1220

In [43]:
df_bm = pd.concat([df_bm_kospi, df_bm_kosdaq])

In [45]:
df_bm_t50

,id,name,market_type,quant,market_sum,property_total,debt_total,listed_stock_cnt,pbr,face_value,present_value,book_value,bm_ratio,bm_decile,pbr_decile
3,005380,현대차,1,368701,271359,1806558.0,1067597.0,213668,0.50,5000,127000,738961.0,2.723186,9,8
6,055550,신한지주,1,961292,218369,4596005.0,4229491.0,474200,0.61,5000,46050,366514.0,1.678416,7,7
7,017670,SK텔레콤,1,159880,204287,423691.0,200199.0,80746,0.81,500,253000,223492.0,1.094010,5,5
8,005490,POSCO,1,148928,203581,782483.0,314887.0,87187,0.43,5000,233500,467596.0,2.296855,9,9
10,012330,현대모비스,1,148996,201097,430711.0,123677.0,95307,0.65,5000,211000,307034.0,1.526796,6,6
12,105560,KB금융,1,891231,193168,4795883.0,4438753.0,418112,0.51,5000,46200,357130.0,1.848805,8,8
14,028260,삼성물산,1,285693,181533,424067.0,198577.0,189690,0.79,100,95700,225490.0,1.242143,5,5
15,034730,SK,1,127678,167809,1194570.0,685691.0,70360,0.81,200,238500,508879.0,3.032489,10,5
16,000270,기아차,1,1061629,166807,517866.0,245431.0,405363,0.61,5000,41150,272435.0,1.633235,7,7
17,032830,삼성생명,1,144690,161600,2894277.0,2589222.0,200000,0.50,500,80800,305055.0,1.887717,8,8
18,015760,한국전력,1,1106846,161133,1852491.0,1141563.0,641964,0.23,5000,25100,710928.0,4.412057,10,10
20,096770,SK이노베이션,1,136646,154880,360854.0,167574.0,92466,0.82,5000,167500,193280.0,1.247934,5,5
24,003550,LG,1,208541,123723,228359.0,46714.0,172557,0.70,5000,71700,181645.0,1.468159,6,6
25,066570,LG전자,1,562357,119627,443284.0,280215.0,163648,0.92,5000,73100,163069.0,1.363145,6,5
27,086790,하나금융지주,1,648590,111240,3850086.0,3579002.0,300242,0.42,5000,37050,271084.0,2.436929,9,9
33,011170,롯데케미칼,1,67513,90658,207991.0,72548.0,34275,0.71,5000,264500,135443.0,1.493999,6,6
35,024110,기업은행,1,574472,80205,2895094.0,2684153.0,574944,0.44,5000,13950,210941.0,2.630023,9,9
36,009540,현대중공업,1,153963,77143,247299.0,116189.0,70773,0.65,5000,109000,131110.0,1.699571,7,6
38,030200,KT,1,431520,71153,321888.0,174576.0,261112,0.51,5000,27250,147312.0,2.070355,8,8
41,034220,LG디스플레이,1,1265744,60471,331757.0,182895.0,357816,0.43,5000,16900,148862.0,2.461709,9,9
47,000720,현대건설,1,531933,55789,180546.0,97628.0,111356,0.89,5000,50100,82918.0,1.486279,6,5
48,004020,현대제철,1,244693,54579,333049.0,162818.0,133446,0.32,5000,40900,170231.0,3.118983,10,10
50,267250,현대중공업지주,1,27464,49837,233478.0,127937.0,16287,0.58,5000,306000,105541.0,2.117724,8,7
51,006800,미래에셋대우,1,1052769,48650,1180855.0,1097331.0,658316,0.62,5000,7390,83524.0,1.716835,7,7
52,010140,삼성중공업,1,1660834,48006,142829.0,75366.0,630000,0.68,5000,7620,67463.0,1.405304,6,6
54,078930,GS,1,87357,46411,226310.0,121060.0,92915,0.56,5000,49950,105250.0,2.267781,9,7
55,023530,롯데쇼핑,1,37025,45828,262593.0,138319.0,28289,0.39,5000,162000,124274.0,2.711748,9,9
56,004990,롯데지주,1,163185,45740,276183.0,191849.0,104909,0.44,200,43600,84334.0,1.843769,8,9
57,161390,한국타이어앤테크놀로지,1,270909,44285,97964.0,30061.0,123875,0.65,500,35750,67903.0,1.533318,6,6
59,005830,DB손해보험,1,92930,42834,509291.0,456363.0,70800,0.75,500,60500,52928.0,1.235654,5,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1303,281740,동부스팩5호,2,4776,103,95.0,7.0,4840,1.17,100,2130,88.0,0.854369,7,7
1304,306620,DB금융스팩6호,2,1071,103,99.0,11.0,4840,1.17,100,2120,88.0,0.854369,7,7
1305,192410,감마누,2,0,100,1127.0,678.0,24436,0.38,500,408,449.0,4.490000,10,10
1306,307160,하나머스트제6호스팩,2,17030,98,89.0,7.0,4590,1.19,100,2130,82.0,0.836735,6,6
1307,307870,골든브릿지이안5호,2,3251,97,97.0,9.0,4750,1.10,100,2050,88.0,0.907216,7,7
1308,270520,하나금융10호스팩,2,63,97,95.0,10.0,4602,1.14,100,2115,85.0,0.876289,7,7
1310,281410,한국제6호스팩,2,22012,96,89.0,5.0,4510,1.13,100,2120,84.0,0.875000,7,7
1311,083470,KJ프리텍,2,0,96,571.0,456.0,24705,0.84,500,387,115.0,1.197917,8,8
1312,264850,IBKS제6호스팩,2,510,96,100.0,16.0,4315,1.14,100,2215,84.0,0.875000,7,7
1313,309930,삼성머스트스팩3호,2,10001,95,90.0,7.0,4590,1.15,100,2080,83.0,0.873684,7,7
1314,299170,IBKS제10호스팩,2,24,94,98.0,15.0,4330,1.13,100,2175,83.0,0.882979,7,7
1315,307180,신영스팩4호,2,625,93,98.0,12.0,4355,1.08,100,2140,86.0,0.924731,7,7
1316,265920,한화수성스팩,2,756124,92,98.0,13.0,4440,1.09,100,2080,85.0,0.923913,7,7
1317,287410,유안타제3호스팩,2,1660,92,83.0,6.0,4235,1.20,100,2175,77.0,0.836957,6,6
1319,261200,하나금융9호스팩,2,101,91,91.0,8.0,4260,1.10,100,2130,83.0,0.912088,7,7
1320,267320,교보7호스팩,2,19050,90,100.0,21.0,4020,1.14,100,2235,79.0,0.877778,7,7
1321,271740,한국제5호스팩,2,550,87,79.0,5.0,4000,1.17,100,2180,74.0,0.850575,7,7
1322,307280,교보8호스팩,2,532,82,78.0,11.0,3720,1.21,100,2195,67.0,0.817073,6,6
1323,297570,IBKS제9호스팩,2,0,81,62.0,9.0,2760,1.54,100,2935,53.0,0.654321,5,5
1324,276920,IBKS제7호스팩,2,2,80,85.0,13.0,3650,1.11,100,2195,72.0,0.900000,7,7
1326,257730,신한제3호스팩,2,17017,77,72.0,7.0,3505,1.19,100,2200,65.0,0.844156,6,6
1327,232330,SK3호스팩,2,0,76,80.0,11.0,3600,1.10,100,2105,69.0,0.907895,7,7
1328,030270,에스마크,2,0,75,617.0,349.0,7563,0.28,500,998,268.0,3.573333,10,10
1329,310840,엔에이치스팩13호,2,11,75,79.0,14.0,3420,1.16,100,2200,65.0,0.866667,7,7
1330,279410,한화에이스스팩4호,2,2711609,75,79.0,12.0,3495,1.12,100,2135,67.0,0.893333,7,7
1331,310870,한국제8호스팩,2,363,73,69.0,5.0,3420,1.15,100,2135,64.0,0.876712,7,7
1332,264290,한화에이스스팩3호,2,7821686,73,69.0,11.0,3080,1.25,100,2370,58.0,0.794521,6,6
1333,258790,케이비제11호스팩,2,0,72,68.0,7.0,3210,1.18,100,2240,61.0,0.847222,6,7
1334,310200,미래에셋대우스팩2호,2,30149,67,70.0,12.0,3050,1.16,100,2205,58.0,0.865672,7,7
1337,149940,모다,2,0,33,2300.0,1691.0,21160,0.30,500,155,609.0,18.454545,10,10

#### Crawl BalanceSheet, IncomeStatement, CashFlow

In [46]:
# Headless Chrome
options = webdriver.ChromeOptions()
#options.add_argument('headless')
#options.add_argument('window-size=1920x1080')
options.add_argument('user-agent=Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit 537.36 (KHTML, like Gecko) Chrome')

In [55]:
# Start Chrome with Selenium
driver = webdriver.Chrome('/Users/daesikkim/Downloads/chromedriver', chrome_options=options) # chrome_options=options
driver.implicitly_wait(3)

In [48]:
# A function to crawl the industry classification, Market & ICS 
def crawl_ics(code): 
    #pArea > div.wrapper-table > div > table > tbody > tr:nth-child(1) > td > dl > dt:nth-child(3)
    # getting the page source and making the soup! 
    html_ics = driver.page_source 
    soup_ics = BeautifulSoup(html_ics, 'lxml')
    
    # getting valus for ICS 
    m_ics = soup_ics.select('#pArea > div.wrapper-table > div > table > tbody > tr:nth-of-type(1) > td > dl > dt:nth-of-type(3)')
    w_ics = soup_ics.select('#pArea > div.wrapper-table > div > table > tbody > tr:nth-of-type(1) > td > dl > dt:nth-of-type(4)')
    
    m_ics = m_ics[0].string.split(' : ')[-1]
    w_ics = w_ics[0].string.split(' : ')[-1]
    
    ics = {'m_ics': [m_ics]*5, 'w_ics': [w_ics]*5}
    
    return ics

#### 재무용어 및 영어정리
***
__재무재표__
- total asset = 자산총계
- long term debt = long term liabilities = 비유동부채
- long term borrowing = 장기차입금
- current asset = 유동자산
- current liabilities = 유동부채
- shareholder equity = 자본총계
- stock issued = 발행주식수
- intangible asset = 무형자산
- book value 1 = 순자산1
- book value 2 = 순자산2
- total liabilities = 부채총계
***

In [49]:
def crawl_balsheet(code):
    
    # click Bal Sheet Tab 
    balsheet_tab = driver.find_element_by_css_selector("#rpt_tab2")
    balsheet_tab.click()
    time.sleep(0.8)
    
    # getting the page source and making the soup! 
    html_balsheet = driver.page_source
    soup_balsheet = BeautifulSoup(html_balsheet, 'lxml')
    
    r = re.compile(r'<div id="([0-9a-zA-Z]{12})">')
    div_id = "#" + r.findall(html_balsheet)[0]

    # getting values from "Balance Sheet" 
    total_asset = soup_balsheet.select(f'{div_id}' + ' > table:nth-of-type(2) > tbody > tr:nth-of-type(1) > td.num')
    lt_debt = soup_balsheet.select(f'{div_id}' + ' > table:nth-of-type(2) > tbody > tr:nth-of-type(175) > td.num')
    lt_borrowing = soup_balsheet.select(f'{div_id}' + ' > table:nth-of-type(2) > tbody > tr:nth-of-type(181) > td.num')
    current_asset = soup_balsheet.select(f'{div_id}' + ' > table:nth-of-type(2) > tbody > tr:nth-of-type(2) > td.num')
    current_liabilities = soup_balsheet.select(f'{div_id}' + ' > table:nth-of-type(2) > tbody > tr:nth-of-type(128) > td.num')
    shareholder_equity = soup_balsheet.select(f'{div_id}' + ' > table:nth-of-type(2) > tbody > tr:nth-of-type(216) > td.num')
    stock_issued = soup_balsheet.select(f'{div_id}' + ' > table:nth-of-type(2) > tbody > tr:nth-of-type(249) > td.num')
    intangible_asset = soup_balsheet.select(f'{div_id}' + ' > table:nth-of-type(2) > tbody > tr:nth-of-type(73) > td.num')
    book_value1 = soup_balsheet.select(f'{div_id}' + ' > table:nth-of-type(2) > tbody > tr:nth-of-type(125) > td.num')
    book_value2 = soup_balsheet.select(f'{div_id}' + ' > table:nth-of-type(2) > tbody > tr:nth-of-type(126) > td.num')
    total_liabilities = soup_balsheet.select(f'{div_id}' + ' > table:nth-of-type(2) > tbody > tr:nth-of-type(127) > td.num')
    
    # convert string --> float 
    balsheet_vals = list(map(lambda l: [float(i.string.replace(',','')) if i.string != u'\xa0' else float(i.string.replace(u'\xa0','0')) for i in l[0:5]], [total_asset, lt_debt, lt_borrowing, current_asset, current_liabilities, shareholder_equity, stock_issued, intangible_asset, book_value1, book_value2, total_liabilities]))
    
    balsheet_dict = {'total_asset': balsheet_vals[0],
                     'lt_debt': balsheet_vals[1],
                     'lt_borrowing': balsheet_vals[2],
                     'current_asset': balsheet_vals[3],
                     'current_liabilities': balsheet_vals[4],
                     'shareholder_equity': balsheet_vals[5],
                     'stock_issued' : balsheet_vals[6],
                     'intangible_asset' : balsheet_vals[7], 
                     'book_value1' : balsheet_vals[8], 
                     'book_value2' : balsheet_vals[9], 
                     'total_liabilities' : balsheet_vals[10]}
    
    return balsheet_dict

***
__포괄손익계산서__
- operating income = 영업이익
- extra income = 기타영업외손익
- total sales = 매출액
- gross profit = 매출총이익
- cogs = 매출원가
***

In [50]:
# A function to crawl an income statement 
def crawl_incomestate(code):
    
    # click Income Statement Tab 
    incomestate_tab = driver.find_element_by_css_selector("#rpt_tab1")
    incomestate_tab.click()
    time.sleep(0.8)
    
    # getting the page source and making the soup
    html_incomestate = driver.page_source
    soup_incomestate = BeautifulSoup(html_incomestate, 'lxml') 
    
    r = re.compile(r'<div id="([0-9a-zA-Z]{12})">')
    div_id = "#" + r.findall(html_incomestate)[0]
    
    # getting values from "Income Statement" 
    operating_income = soup_incomestate.select(f'{div_id}' + ' > table:nth-of-type(2) > tbody > tr:nth-of-type(58) > td.num')
    extra_income = soup_incomestate.select(f'{div_id}' + ' > table:nth-of-type(2) > tbody > tr:nth-of-type(150) > td.num')
    total_sales = soup_incomestate.select(f'{div_id}' + ' > table:nth-of-type(2) > tbody > tr:nth-of-type(1) > td.num')
    gross_profit = soup_incomestate.select(f'{div_id}' + ' > table:nth-of-type(2) > tbody > tr:nth-of-type(26) > td.num')
    cogs = soup_incomestate.select(f'{div_id}' + ' > table:nth-of-type(2) > tbody > tr:nth-of-type(15) > td.num')
    
    # convert string --> float 
    incomestate_vals = list(map(lambda l: [float(i.string.replace(',','')) if i.string != u'\xa0' else float(i.string.replace(u'\xa0','0')) for i in l[0:5]], [operating_income, extra_income, total_sales, gross_profit, cogs]))
    
    incomestate_dict = {'operating_income': incomestate_vals[0],
                        'extra_income': incomestate_vals[1],
                        'total_sales': incomestate_vals[2],
                        'gross_profit': incomestate_vals[3],
                        'cogs': incomestate_vals[4]}
    
    return incomestate_dict

***
__현금흐름표__
- cashflow operation = 영업활동으로인한 현금흐름
***

In [51]:
# A function to crawl a cash flow 
def crawl_cashflow(code):
    
    # click Cash Flow tab 
    cashflow_tab = driver.find_element_by_css_selector("#rpt_tab3")
    cashflow_tab.click
    time.sleep(0.8)
    
    # getting the page source and making the soup 
    html_cashflow = driver.page_source 
    soup_cashflow = BeautifulSoup(html_cashflow, 'lxml')
    
    r = re.compile(r'<div id="([0-9a-zA-Z]{12})">')
    div_id = "#" + r.findall(html_cashflow)[0]
    
    # getting values from "Income Statement" 
    cf_operation = soup_cashflow.select(f'{div_id}' + ' > table:nth-of-type(2) > tbody > tr:nth-of-type(1) > td.num')
    
    # convert string --> float 
    cashflow_vals = list(map(lambda l: [float(i.string.replace(',','')) if i.string != u'\xa0' else float(i.string.replace(u'\xa0', '0')) for i in l[0:5]], [cf_operation]))
    
    cashflow_dict = {'cf_operation': cashflow_vals[0]}
    
    return cashflow_dict

In [52]:
# A function to transform a list to DF 
def merge_n_convert(code, year, fs_dict): 
    dict_individual = {'code': [code]*5,
                       'year': year}
    
    dict_individual.update(fs_dict)
    
    df_individual = pd.DataFrame(dict_individual, columns = ('code', 'm_ics', 'w_ics', 'year', \
                                    'total_asset', 'lt_debt', 'lt_borrowing', 'current_asset', 'current_liabilities', 'shareholder_equity', 'stock_issued', 'intangible_asset', \
                                    'operating_income', 'extra_income', 'total_sales', 'gross_profit', 'cogs', \
                                    'cf_operation', 'book_value1', 'book_value2'))
    
    return df_individual

In [53]:
# Creating f score DF 
year = ['2014', '2015', '2016', '2017', '2018']
fs_dict = {}
df_fbase = pd.DataFrame(columns = ('code', 'm_ics', 'w_ics', 'year', \
                                    'total_asset', 'lt_debt', 'lt_borrowing', 'current_asset', 'current_liabilities', 'shareholder_equity', 'stock_issued', 'intangible_asset', \
                                    'operating_income', 'extra_income', 'total_sales', 'gross_profit', 'cogs', \
                                    'cf_operation', 'book_value1', 'book_value2'))
df_fcalc = pd.DataFrame(columns = ('code', 'year', 'cal_roa', 'cal_cfo', 'delta_roa', 'accrual', 'delta_lever', 'delta_liquid', 'eq_offer', 'delta_margin', 'delta_turn'))
df_fscore = pd.DataFrame(columns = ('code', 'year','f_roa', 'f_cfo', 'f_droa', 'f_accrual', 'f_dlever', 'f_dliquid', 'f_equityoffer', 'f_dmargin', 'f_dturnover', 'f_total'))

#### Crawling codes below

In [ ]:
# Do crawl!
count = 0
init_time = time.time()
for i in df_fscore_univ_ids:
    start_time = time.time()
     # load the page! 
    driver.get("http://finance.naver.com/item/coinfo.nhn?code={}".format(i))
    time.sleep(random.randrange(2, 8, 1))
    
    # move to the relavent frame
    frame = WebDriverWait(driver, 10).until(EC.frame_to_be_available_and_switch_to_it((By.CSS_SELECTOR, "#coinfo_cp")))
    #driver.switch_to.frame(frame)

    # select to the financial statement tab
    finstate_tab = WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.CSS_SELECTOR, "#header-menu > div.wrapper-menu > dl > dt:nth-of-type(3) > a")))
    finstate_tab.click()
    
    time.sleep(0.8)
    print(f"Company {i} processing")
    
    code = i
    for d in [crawl_ics(i), crawl_balsheet(i), crawl_incomestate(i), crawl_cashflow(i)]:
        fs_dict.update(d)                
    
    try:
        df_company = merge_n_convert(i, year, fs_dict)

        df_fbase = pd.concat([df_fbase, df_company], ignore_index=True)
        count += 1
    except: 
        count += 1
        continue

    #print(df_fbase)
    progress = count/len(df_fscore_univ_ids)*100
    print(f"{count} / {len(df_fscore_univ_ids)} >>> {progress}% Processed!!!")

end_time = time.time()
elapsed = end_time - init_time
print(f'Total time spent >>> {time.strftime("%H:%M:%S", time.gmtime(elapsed))}')

Company 005380 processing
1 / 1220 >>> 0.08196721311475409% Processed!!!
Company 055550 processing
Company 017670 processing
3 / 1220 >>> 0.24590163934426232% Processed!!!
Company 005490 processing
4 / 1220 >>> 0.32786885245901637% Processed!!!
Company 012330 processing
5 / 1220 >>> 0.4098360655737705% Processed!!!
Company 105560 processing
Company 028260 processing
7 / 1220 >>> 0.5737704918032787% Processed!!!
Company 034730 processing
8 / 1220 >>> 0.6557377049180327% Processed!!!
Company 000270 processing
9 / 1220 >>> 0.7377049180327869% Processed!!!
Company 032830 processing
Company 015760 processing
11 / 1220 >>> 0.9016393442622952% Processed!!!
Company 096770 processing
12 / 1220 >>> 0.9836065573770493% Processed!!!
Company 003550 processing
13 / 1220 >>> 1.0655737704918031% Processed!!!
Company 066570 processing
14 / 1220 >>> 1.1475409836065573% Processed!!!
Company 086790 processing
Company 011170 processing
16 / 1220 >>> 1.3114754098360655% Processed!!!
Company 024110 processing
Company 009540 processing
18 / 1220 >>> 1.4754098360655739% Processed!!!
Company 030200 processing
19 / 1220 >>> 1.557377049180328% Processed!!!
Company 034220 processing
20 / 1220 >>> 1.639344262295082% Processed!!!
Company 000720 processing
21 / 1220 >>> 1.7213114754098362% Processed!!!
Company 004020 processing
22 / 1220 >>> 1.8032786885245904% Processed!!!
Company 267250 processing
23 / 1220 >>> 1.8852459016393444% Processed!!!
Company 006800 processing
Company 010140 processing
25 / 1220 >>> 2.0491803278688523% Processed!!!
Company 078930 processing
26 / 1220 >>> 2.1311475409836063% Processed!!!
Company 023530 processing
27 / 1220 >>> 2.2131147540983607% Processed!!!
Company 004990 processing
28 / 1220 >>> 2.2950819672131146% Processed!!!
Company 161390 processing
29 / 1220 >>> 2.3770491803278686% Processed!!!
Company 005830 processing
Company 097950 processing
31 / 1220 >>> 2.540983606557377% Processed!!!
Company 029780 processing
Company 139480 processing
33 / 1220 >>> 2.7049180327868854% Processed!!!
Company 036460 processing
34 / 1220 >>> 2.7868852459016393% Processed!!!
Company 005940 processing
Company 000210 processing
36 / 1220 >>> 2.9508196721311477% Processed!!!
Company 009830 processing
37 / 1220 >>> 3.0327868852459017% Processed!!!
Company 241560 processing
38 / 1220 >>> 3.114754098360656% Processed!!!
Company 006360 processing
39 / 1220 >>> 3.1967213114754096% Processed!!!
Company 042660 processing
40 / 1220 >>> 3.278688524590164% Processed!!!
Company 016360 processing
Company 001040 processing
42 / 1220 >>> 3.4426229508196724% Processed!!!
Company 004170 processing
43 / 1220 >>> 3.524590163934426% Processed!!!
Company 088350 processing
Company 002380 processing
45 / 1220 >>> 3.6885245901639343% Processed!!!
Company 001450 processing
Company 079440 processing
Company 138930 processing
Company 028670 processing
49 / 1220 >>> 4.016393442622951% Processed!!!
Company 010060 processing
50 / 1220 >>> 4.098360655737705% Processed!!!
Company 047050 processing
51 / 1220 >>> 4.180327868852459% Processed!!!
Company 138040 processing
Company 069960 processing
53 / 1220 >>> 4.344262295081967% Processed!!!
Company 047040 processing
54 / 1220 >>> 4.426229508196721% Processed!!!
Company 000880 processing
55 / 1220 >>> 4.508196721311475% Processed!!!
Company 010620 processing
56 / 1220 >>> 4.590163934426229% Processed!!!
Company 012450 processing
57 / 1220 >>> 4.672131147540984% Processed!!!
Company 004800 processing
58 / 1220 >>> 4.754098360655737% Processed!!!
Company 003240 processing
59 / 1220 >>> 4.836065573770492% Processed!!!
Company 000240 processing
60 / 1220 >>> 4.918032786885246% Processed!!!
Company 004370 processing
61 / 1220 >>> 5.0% Processed!!!
Company 181710 processing
62 / 1220 >>> 5.081967213114754% Processed!!!
Company 006260 processing
63 / 1220 >>> 5.163934426229509% Processed!!!
Company 139130 processing
Company 042670 processing
65 / 1220 >>> 5.327868852459016% Processed!!!
Company 000670 processing
66 / 1220 >>> 5.409836065573771% Processed!!!
Company 004000 processing
67 / 1220 >>> 5.491803278688525% Processed!!!
Company 001740 processing
68 / 1220 >>> 5.573770491803279% Processed!!!
Company 005440 processing
69 / 1220 >>> 5.655737704918033% Processed!!!
Company 120110 processing
70 / 1220 >>> 5.737704918032787% Processed!!!
Company 011790 processing
71 / 1220 >>> 5.819672131147541% Processed!!!
Company 073240 processing
72 / 1220 >>> 5.901639344262295% Processed!!!
Company 011210 processing
73 / 1220 >>> 5.983606557377049% Processed!!!
Company 057050 processing
74 / 1220 >>> 6.065573770491803% Processed!!!
Company 280360 processing
75 / 1220 >>> 6.147540983606557% Processed!!!
Company 175330 processing
Company 001800 processing
77 / 1220 >>> 6.311475409836066% Processed!!!
Company 003690 processing
Company 023590 processing
79 / 1220 >>> 6.475409836065574% Processed!!!
Company 071840 processing
80 / 1220 >>> 6.557377049180328% Processed!!!
Company 002350 processing
81 / 1220 >>> 6.639344262295081% Processed!!!
Company 009410 processing
82 / 1220 >>> 6.721311475409836% Processed!!!
Company 012630 processing
83 / 1220 >>> 6.80327868852459% Processed!!!
Company 008060 processing
84 / 1220 >>> 6.885245901639345% Processed!!!
Company 006650 processing
85 / 1220 >>> 6.967213114754098% Processed!!!
Company 085620 processing
Company 009970 processing
87 / 1220 >>> 7.131147540983607% Processed!!!
Company 006040 processing
88 / 1220 >>> 7.213114754098362% Processed!!!
Company 267270 processing
89 / 1220 >>> 7.295081967213115% Processed!!!
Company 027410 processing
90 / 1220 >>> 7.377049180327869% Processed!!!
Company 018670 processing
91 / 1220 >>> 7.4590163934426235% Processed!!!
Company 034020 processing
92 / 1220 >>> 7.540983606557377% Processed!!!
Company 103140 processing
93 / 1220 >>> 7.6229508196721305% Processed!!!
Company 082640 processing
Company 003540 processing
Company 093050 processing
96 / 1220 >>> 7.868852459016394% Processed!!!
Company 001430 processing
97 / 1220 >>> 7.950819672131147% Processed!!!
Company 006840 processing
98 / 1220 >>> 8.032786885245901% Processed!!!
Company 001120 processing
99 / 1220 >>> 8.114754098360656% Processed!!!
Company 003620 processing
100 / 1220 >>> 8.19672131147541% Processed!!!
Company 002270 processing
Company 000070 processing
102 / 1220 >>> 8.360655737704919% Processed!!!
Company 003470 processing
Company 001230 processing
104 / 1220 >>> 8.524590163934425% Processed!!!
Company 000640 processing
105 / 1220 >>> 8.60655737704918% Processed!!!
Company 004490 processing
106 / 1220 >>> 8.688524590163935% Processed!!!
Company 071320 processing
107 / 1220 >>> 8.77049180327869% Processed!!!
Company 037560 processing
108 / 1220 >>> 8.852459016393443% Processed!!!
Company 033660 processing
Company 034830 processing
Company 300720 processing
111 / 1220 >>> 9.098360655737705% Processed!!!
Company 005880 processing
112 / 1220 >>> 9.180327868852459% Processed!!!
Company 145990 processing
113 / 1220 >>> 9.262295081967213% Processed!!!
Company 001720 processing
Company 053210 processing
115 / 1220 >>> 9.426229508196721% Processed!!!
Company 064960 processing
116 / 1220 >>> 9.508196721311474% Processed!!!
Company 019680 processing
117 / 1220 >>> 9.59016393442623% Processed!!!
Company 108670 processing
118 / 1220 >>> 9.672131147540984% Processed!!!
Company 000370 processing
Company 006120 processing
120 / 1220 >>> 9.836065573770492% Processed!!!
Company 029530 processing
121 / 1220 >>> 9.918032786885247% Processed!!!
Company 002240 processing
122 / 1220 >>> 10.0% Processed!!!
Company 002320 processing
123 / 1220 >>> 10.081967213114753% Processed!!!
Company 126560 processing
124 / 1220 >>> 10.163934426229508% Processed!!!
Company 123890 processing
Company 001520 processing
126 / 1220 >>> 10.327868852459018% Processed!!!
Company 014830 processing
127 / 1220 >>> 10.40983606557377% Processed!!!
Company 060980 processing
128 / 1220 >>> 10.491803278688524% Processed!!!
Company 003920 processing
129 / 1220 >>> 10.573770491803279% Processed!!!
Company 017390 processing
130 / 1220 >>> 10.655737704918032% Processed!!!
Company 015350 processing
131 / 1220 >>> 10.737704918032787% Processed!!!
Company 003530 processing
Company 079430 processing
133 / 1220 >>> 10.901639344262296% Processed!!!
Company 017940 processing
134 / 1220 >>> 10.98360655737705% Processed!!!
Company 030610 processing
Company 016800 processing
136 / 1220 >>> 11.147540983606557% Processed!!!
Company 034120 processing
137 / 1220 >>> 11.229508196721312% Processed!!!
Company 072710 processing
138 / 1220 >>> 11.311475409836065% Processed!!!
Company 002620 processing
139 / 1220 >>> 11.39344262295082% Processed!!!
Company 004690 processing
140 / 1220 >>> 11.475409836065573% Processed!!!
Company 058650 processing
141 / 1220 >>> 11.557377049180328% Processed!!!
Company 267260 processing
142 / 1220 >>> 11.639344262295081% Processed!!!
Company 183190 processing
143 / 1220 >>> 11.721311475409836% Processed!!!
Company 009290 processing
144 / 1220 >>> 11.80327868852459% Processed!!!
Company 000480 processing
145 / 1220 >>> 11.885245901639344% Processed!!!
Company 002310 processing
146 / 1220 >>> 11.967213114754099% Processed!!!
Company 001130 processing
147 / 1220 >>> 12.049180327868852% Processed!!!
Company 007340 processing
148 / 1220 >>> 12.131147540983607% Processed!!!
Company 070960 processing
149 / 1220 >>> 12.21311475409836% Processed!!!
Company 005720 processing
150 / 1220 >>> 12.295081967213115% Processed!!!
Company 000400 processing
Company 213500 processing
152 / 1220 >>> 12.459016393442624% Processed!!!
Company 016590 processing
153 / 1220 >>> 12.540983606557376% Processed!!!
Company 001510 processing
Company 298040 processing
155 / 1220 >>> 12.704918032786885% Processed!!!
Company 009580 processing
156 / 1220 >>> 12.786885245901638% Processed!!!
Company 101060 processing
157 / 1220 >>> 12.868852459016395% Processed!!!
Company 003300 processing
158 / 1220 >>> 12.950819672131148% Processed!!!
Company 033920 processing
159 / 1220 >>> 13.032786885245901% Processed!!!
Company 005810 processing
160 / 1220 >>> 13.114754098360656% Processed!!!
Company 037710 processing
161 / 1220 >>> 13.19672131147541% Processed!!!
Company 000540 processing
Company 001500 processing
Company 104700 processing
164 / 1220 >>> 13.442622950819672% Processed!!!
Company 136490 processing
165 / 1220 >>> 13.524590163934427% Processed!!!
Company 000050 processing
166 / 1220 >>> 13.60655737704918% Processed!!!
Company 084690 processing
167 / 1220 >>> 13.688524590163933% Processed!!!
Company 002810 processing
168 / 1220 >>> 13.77049180327869% Processed!!!
Company 001880 processing
169 / 1220 >>> 13.852459016393443% Processed!!!
Company 007690 processing
170 / 1220 >>> 13.934426229508196% Processed!!!
Company 002030 processing
171 / 1220 >>> 14.01639344262295% Processed!!!
Company 007160 processing
172 / 1220 >>> 14.098360655737704% Processed!!!
Company 000430 processing
173 / 1220 >>> 14.18032786885246% Processed!!!
Company 102260 processing
174 / 1220 >>> 14.262295081967213% Processed!!!
Company 036580 processing
175 / 1220 >>> 14.344262295081966% Processed!!!
Company 101530 processing
176 / 1220 >>> 14.426229508196723% Processed!!!
Company 000020 processing
177 / 1220 >>> 14.508196721311476% Processed!!!
Company 025000 processing
178 / 1220 >>> 14.59016393442623% Processed!!!
Company 004360 processing
179 / 1220 >>> 14.672131147540984% Processed!!!
Company 079980 processing
180 / 1220 >>> 14.754098360655737% Processed!!!
Company 001940 processing
181 / 1220 >>> 14.83606557377049% Processed!!!
Company 161000 processing
182 / 1220 >>> 14.918032786885247% Processed!!!
Company 015360 processing
183 / 1220 >>> 15.0% Processed!!!
Company 000680 processing
184 / 1220 >>> 15.081967213114755% Processed!!!
Company 001200 processing
Company 002020 processing
186 / 1220 >>> 15.245901639344261% Processed!!!
Company 095570 processing
187 / 1220 >>> 15.327868852459018% Processed!!!
Company 092230 processing
188 / 1220 >>> 15.40983606557377% Processed!!!
Company 003120 processing
189 / 1220 >>> 15.491803278688524% Processed!!!
Company 003570 processing
190 / 1220 >>> 15.573770491803279% Processed!!!
Company 003070 processing
191 / 1220 >>> 15.655737704918032% Processed!!!
Company 005680 processing
192 / 1220 >>> 15.737704918032788% Processed!!!
Company 004970 processing
193 / 1220 >>> 15.819672131147541% Processed!!!
Company 003030 processing
194 / 1220 >>> 15.901639344262295% Processed!!!
Company 013580 processing
195 / 1220 >>> 15.983606557377051% Processed!!!
Company 003200 processing
196 / 1220 >>> 16.065573770491802% Processed!!!
Company 068400 processing
197 / 1220 >>> 16.147540983606557% Processed!!!
Company 004980 processing
198 / 1220 >>> 16.229508196721312% Processed!!!
Company 128820 processing
199 / 1220 >>> 16.311475409836067% Processed!!!
Company 033240 processing
200 / 1220 >>> 16.39344262295082% Processed!!!
Company 001250 processing
201 / 1220 >>> 16.475409836065573% Processed!!!
Company 000970 processing
202 / 1220 >>> 16.557377049180328% Processed!!!
Company 000700 processing
203 / 1220 >>> 16.639344262295083% Processed!!!
Company 001270 processing
Company 000140 processing
205 / 1220 >>> 16.80327868852459% Processed!!!
Company 016610 processing
Company 001530 processing
207 / 1220 >>> 16.9672131147541% Processed!!!
Company 004150 processing
208 / 1220 >>> 17.04918032786885% Processed!!!
Company 004960 processing
209 / 1220 >>> 17.13114754098361% Processed!!!
Company 036530 processing
210 / 1220 >>> 17.21311475409836% Processed!!!
Company 029460 processing
211 / 1220 >>> 17.295081967213115% Processed!!!
Company 084010 processing
212 / 1220 >>> 17.37704918032787% Processed!!!
Company 306200 processing
213 / 1220 >>> 17.45901639344262% Processed!!!
Company 002170 processing
214 / 1220 >>> 17.54098360655738% Processed!!!
Company 005090 processing
215 / 1220 >>> 17.62295081967213% Processed!!!
Company 044820 processing
216 / 1220 >>> 17.704918032786885% Processed!!!
Company 002450 processing
217 / 1220 >>> 17.78688524590164% Processed!!!
Company 004060 processing
218 / 1220 >>> 17.868852459016395% Processed!!!
Company 009160 processing
219 / 1220 >>> 17.950819672131146% Processed!!!
Company 282690 processing
220 / 1220 >>> 18.0327868852459% Processed!!!
Company 001790 processing
221 / 1220 >>> 18.114754098360656% Processed!!!
Company 030210 processing
Company 002460 processing
223 / 1220 >>> 18.278688524590166% Processed!!!
Company 015890 processing
224 / 1220 >>> 18.360655737704917% Processed!!!
Company 039570 processing
225 / 1220 >>> 18.442622950819672% Processed!!!
Company 005960 processing
226 / 1220 >>> 18.524590163934427% Processed!!!
Company 089470 processing
227 / 1220 >>> 18.606557377049178% Processed!!!
Company 200880 processing
228 / 1220 >>> 18.688524590163937% Processed!!!
Company 000320 processing
229 / 1220 >>> 18.770491803278688% Processed!!!
Company 000860 processing
230 / 1220 >>> 18.852459016393443% Processed!!!
Company 015860 processing
231 / 1220 >>> 18.934426229508198% Processed!!!
Company 007210 processing
232 / 1220 >>> 19.01639344262295% Processed!!!
Company 009270 processing
233 / 1220 >>> 19.098360655737707% Processed!!!
Company 005740 processing
234 / 1220 >>> 19.18032786885246% Processed!!!
Company 004870 processing
235 / 1220 >>> 19.262295081967213% Processed!!!
Company 077970 processing
236 / 1220 >>> 19.34426229508197% Processed!!!
Company 044450 processing
237 / 1220 >>> 19.42622950819672% Processed!!!
Company 006380 processing
238 / 1220 >>> 19.508196721311474% Processed!!!
Company 102280 processing
239 / 1220 >>> 19.59016393442623% Processed!!!
Company 016880 processing
240 / 1220 >>> 19.672131147540984% Processed!!!
Company 067830 processing
241 / 1220 >>> 19.754098360655735% Processed!!!
Company 000390 processing
242 / 1220 >>> 19.836065573770494% Processed!!!
Company 001390 processing
243 / 1220 >>> 19.918032786885245% Processed!!!
Company 006220 processing
Company 013570 processing
245 / 1220 >>> 20.081967213114755% Processed!!!
Company 004710 processing
246 / 1220 >>> 20.163934426229506% Processed!!!
Company 027390 processing
247 / 1220 >>> 20.245901639344265% Processed!!!
Company 090350 processing
248 / 1220 >>> 20.327868852459016% Processed!!!
Company 001460 processing
249 / 1220 >>> 20.40983606557377% Processed!!!
Company 267290 processing
250 / 1220 >>> 20.491803278688526% Processed!!!
Company 117580 processing
251 / 1220 >>> 20.573770491803277% Processed!!!
Company 092220 processing
252 / 1220 >>> 20.655737704918035% Processed!!!
Company 004890 processing
253 / 1220 >>> 20.737704918032787% Processed!!!
Company 000230 processing
254 / 1220 >>> 20.81967213114754% Processed!!!
Company 005950 processing
255 / 1220 >>> 20.901639344262296% Processed!!!
Company 005430 processing
256 / 1220 >>> 20.983606557377048% Processed!!!
Company 024090 processing
257 / 1220 >>> 21.065573770491802% Processed!!!
Company 013520 processing
258 / 1220 >>> 21.147540983606557% Processed!!!
Company 003460 processing
Company 003830 processing
260 / 1220 >>> 21.311475409836063% Processed!!!
Company 100250 processing
261 / 1220 >>> 21.393442622950822% Processed!!!
Company 014790 processing
262 / 1220 >>> 21.475409836065573% Processed!!!
Company 017900 processing
263 / 1220 >>> 21.557377049180328% Processed!!!
Company 005390 processing
264 / 1220 >>> 21.639344262295083% Processed!!!
Company 013870 processing
265 / 1220 >>> 21.721311475409834% Processed!!!
Company 033530 processing
266 / 1220 >>> 21.803278688524593% Processed!!!
Company 003650 processing
267 / 1220 >>> 21.885245901639344% Processed!!!
Company 012800 processing
268 / 1220 >>> 21.9672131147541% Processed!!!
Company 082740 processing
269 / 1220 >>> 22.049180327868854% Processed!!!
Company 007540 processing
270 / 1220 >>> 22.131147540983605% Processed!!!
Company 035000 processing
271 / 1220 >>> 22.213114754098363% Processed!!!
Company 000180 processing
272 / 1220 >>> 22.295081967213115% Processed!!!
Company 004560 processing
273 / 1220 >>> 22.37704918032787% Processed!!!
Company 143210 processing
274 / 1220 >>> 22.459016393442624% Processed!!!
Company 000490 processing
275 / 1220 >>> 22.540983606557376% Processed!!!
Company 004250 processing
276 / 1220 >>> 22.62295081967213% Processed!!!
Company 007810 processing
277 / 1220 >>> 22.704918032786885% Processed!!!
Company 009200 processing
278 / 1220 >>> 22.78688524590164% Processed!!!
Company 227840 processing
279 / 1220 >>> 22.86885245901639% Processed!!!
Company 063160 processing
280 / 1220 >>> 22.950819672131146% Processed!!!
Company 001340 processing
281 / 1220 >>> 23.0327868852459% Processed!!!
Company 092200 processing
282 / 1220 >>> 23.114754098360656% Processed!!!
Company 003160 processing
283 / 1220 >>> 23.19672131147541% Processed!!!
Company 034590 processing
284 / 1220 >>> 23.278688524590162% Processed!!!
Company 019440 processing
285 / 1220 >>> 23.36065573770492% Processed!!!
Company 004440 processing
286 / 1220 >>> 23.442622950819672% Processed!!!
Company 016710 processing
287 / 1220 >>> 23.524590163934427% Processed!!!
Company 004840 processing
288 / 1220 >>> 23.60655737704918% Processed!!!
Company 003960 processing
289 / 1220 >>> 23.688524590163933% Processed!!!
Company 023000 processing
290 / 1220 >>> 23.770491803278688% Processed!!!
Company 012200 processing
291 / 1220 >>> 23.852459016393443% Processed!!!
Company 900140 processing
292 / 1220 >>> 23.934426229508198% Processed!!!
Company 010960 processing
293 / 1220 >>> 24.016393442622952% Processed!!!
Company 092440 processing
294 / 1220 >>> 24.098360655737704% Processed!!!
Company 012160 processing
295 / 1220 >>> 24.18032786885246% Processed!!!
Company 071970 processing
296 / 1220 >>> 24.262295081967213% Processed!!!
Company 014530 processing
297 / 1220 >>> 24.34426229508197% Processed!!!
Company 100220 processing
298 / 1220 >>> 24.42622950819672% Processed!!!
Company 034300 processing
299 / 1220 >>> 24.508196721311474% Processed!!!
Company 032560 processing

In [ ]:
df_fbase

#### Save & Load

In [36]:
with open('fscore_may2019.txt', 'wb') as f:
    pickle.dump(df_fbase, f)

In [2]:
with open('fscore_may2019.txt', 'rb') as f:
    df_fbase = pickle.load(f)

In [3]:
df_fbase.head(10)

,code,m_ics,w_ics,year,total_asset,lt_debt,lt_borrowing,current_asset,current_liabilities,shareholder_equity,stock_issued,intangible_asset,operating_income,extra_income,total_sales,gross_profit,cogs,cf_operation,book_value1,book_value2
0,005380,운수장비,자동차,2014,1472251.2,494248.8,74304.3,425271.0,351796.7,626205.7,285479.0,38216.6,75499.9,-2682.3,892563.2,191300.4,701262.8,892563.2,626205.7,587989.1
1,005380,운수장비,자동차,2015,1653679.5,572730.3,85526.2,437519.3,412135.2,668814.0,285479.0,42980.9,63579.1,528.7,919587.4,182574.4,737013.0,919587.4,668814.0,625833.1
2,005380,운수장비,자동차,2016,1788359.3,628815.6,133899.8,475840.1,436097.9,723445.8,285479.0,45861.7,51935.0,-490.8,936490.2,176893.0,759597.2,936490.2,723445.8,677584.1
3,005380,운수장비,자동차,2017,1781994.5,602813.9,124881.4,484397.3,431607.1,747573.5,285479.0,48093.4,45746.7,-2137.3,963760.8,175779.1,787981.7,963760.8,747573.5,699480.2
4,005380,운수장비,자동차,2018,1806557.5,573213.3,99852.5,471435.1,494384.1,738960.1,276939.0,49213.8,24221.7,-5197.6,968126.1,151421.3,816704.8,968126.1,738960.1,689746.3
5,005380,운수장비,자동차,2014,1472251.2,494248.8,74304.3,425271.0,351796.7,626205.7,285479.0,38216.6,75499.9,-2682.3,892563.2,191300.4,701262.8,892563.2,626205.7,587989.1
6,005380,운수장비,자동차,2015,1653679.5,572730.3,85526.2,437519.3,412135.2,668814.0,285479.0,42980.9,63579.1,528.7,919587.4,182574.4,737013.0,919587.4,668814.0,625833.1
7,005380,운수장비,자동차,2016,1788359.3,628815.6,133899.8,475840.1,436097.9,723445.8,285479.0,45861.7,51935.0,-490.8,936490.2,176893.0,759597.2,936490.2,723445.8,677584.1
8,005380,운수장비,자동차,2017,1781994.5,602813.9,124881.4,484397.3,431607.1,747573.5,285479.0,48093.4,45746.7,-2137.3,963760.8,175779.1,787981.7,963760.8,747573.5,699480.2
9,005380,운수장비,자동차,2018,1806557.5,573213.3,99852.5,471435.1,494384.1,738960.1,276939.0,49213.8,24221.7,-5197.6,968126.1,151421.3,816704.8,968126.1,738960.1,689746.3

#### F Score Calculation

In [4]:
df_fbase.keys()

Index(['code', 'm_ics', 'w_ics', 'year', 'total_asset', 'lt_debt',
       'lt_borrowing', 'current_asset', 'current_liabilities',
       'shareholder_equity', 'stock_issued', 'intangible_asset',
       'operating_income', 'extra_income', 'total_sales', 'gross_profit',
       'cogs', 'cf_operation', 'book_value1', 'book_value2'],
      dtype='object')

In [5]:
df_fs_01 = df_fbase[['code', 'year', 'total_asset', 'operating_income', 
                    'cf_operation', 'lt_debt', 'lt_borrowing', 
                    'current_asset', 'current_liabilities', 'stock_issued', 
                    'gross_profit', 'total_sales']]

In [6]:
df_fs_01.head(5)

,code,year,total_asset,operating_income,cf_operation,lt_debt,lt_borrowing,current_asset,current_liabilities,stock_issued,gross_profit,total_sales
0,005380,2014,1472251.2,75499.9,892563.2,494248.8,74304.3,425271.0,351796.7,285479.0,191300.4,892563.2
1,005380,2015,1653679.5,63579.1,919587.4,572730.3,85526.2,437519.3,412135.2,285479.0,182574.4,919587.4
2,005380,2016,1788359.3,51935.0,936490.2,628815.6,133899.8,475840.1,436097.9,285479.0,176893.0,936490.2
3,005380,2017,1781994.5,45746.7,963760.8,602813.9,124881.4,484397.3,431607.1,285479.0,175779.1,963760.8
4,005380,2018,1806557.5,24221.7,968126.1,573213.3,99852.5,471435.1,494384.1,276939.0,151421.3,968126.1

In [7]:
# Rearranging columns - lagged total asset ("total assets fromt he beginning of the year")
df_fs_01['l_total_asset'] = df_fs_01.loc[:, 'total_asset'].shift(1)
df_fs_01['l_total_asset'] = df_fs_01.loc[:, 'l_total_asset'].where(df_fs_01.loc[:, 'year'] != '2014') # converting to NaN for 2014

/Users/daesikkim/anaconda3/envs/BigBull/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/daesikkim/anaconda3/envs/BigBull/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [17]:
df_fs_01[df_fs_01['code'] == '189980']

,code,year,total_asset,operating_income,cf_operation,lt_debt,lt_borrowing,current_asset,current_liabilities,stock_issued,gross_profit,total_sales,l_total_asset,avg_total_asset
4270,189980,2014,410.8,79.6,350.4,70.1,59.7,149.3,96.0,5456.0,151.2,350.4,NaN,NaN
4271,189980,2015,750.9,86.0,396.4,30.1,30.0,280.6,80.6,7341.0,173.8,396.4,410.8,NaN
4272,189980,2016,669.1,39.2,413.8,27.7,26.0,189.7,86.8,7341.0,156.0,413.8,750.9,710.0
4273,189980,2017,702.3,28.8,449.0,23.1,22.0,282.6,105.1,7341.0,154.8,449.0,669.1,685.7
4274,189980,2018,818.5,42.5,476.5,2.9,0.0,361.1,218.3,7341.0,165.6,476.5,702.3,760.4

## Average total assets = "rolling"
df_fs_01['avg_total_asset'] = df_fs_01.loc[:, 'total_asset'].where(df_fs_01.loc[:, 'year'] != '2014').rolling(2).mean()

In [10]:
# Creating df_fs_02(calculation) and df_fs_03(fscore) dataframe
df_fs_02 = pd.DataFrame(columns = ('code', 'year', 'cal_roa', 
                                   'cal_cfo', 'delta_roa', 'accrual',
                                   'delta_lever', 'delta_liquid', 'eq_offer', 
                                   'delta_margin', 'delta_turn', 'gpa'))
df_fs_03 = pd.DataFrame(columns = ('code', 'year','f_roa', 
                                    'f_cfo', 'f_droa', 'f_accrual', 
                                    'f_dlever', 'f_dliquid', 'f_equityoffer', 
                                    'f_dmargin', 'f_dturnover', 'f_total', 'gpa_decile'))

In [11]:
# Calcuation
df_fs_02['code'] = df_fs_01['code']
df_fs_02['year'] = df_fs_01['year']

df_fs_02['cal_roa'] = df_fs_01['operating_income'] / df_fs_01['l_total_asset']
df_fs_02['cal_cfo'] = df_fs_01['cf_operation'] / df_fs_01['l_total_asset']
df_fs_02['delta_roa'] = df_fs_02['cal_roa'].diff()
df_fs_02['accrual'] = df_fs_02['cal_roa'] - df_fs_02['cal_cfo']

df_fs_02['lever'] = df_fs_01['lt_debt'] / df_fs_01['avg_total_asset']
df_fs_02['delta_lever'] = df_fs_02['lever'].diff()
df_fs_02['delta_liquid'] = df_fs_01['current_asset'].where(df_fs_01['year'] != '2014') / df_fs_01['current_liabilities'].where(df_fs_01['year'] != '2014')
df_fs_02['eq_offer'] = df_fs_01['stock_issued'].where(df_fs_01['year'] != '2014').diff()

df_fs_02['gmo'] = df_fs_01['gross_profit'].where(df_fs_01['year'] != '2014') / df_fs_01['total_sales'].where(df_fs_01['year'] != '2014')
df_fs_02['delta_margin'] = df_fs_02['gmo'].diff()
df_fs_02['atr'] = df_fs_01['total_sales'] / df_fs_01['l_total_asset']
df_fs_02['delta_turn'] = df_fs_02['atr'].diff()

df_fs_02['gpa'] = df_fs_01['gross_profit'] / df_fs_01['total_asset']

In [13]:
df_fs_02[df_fs_02['code'] == '189980']

,code,year,cal_roa,cal_cfo,delta_roa,accrual,delta_lever,delta_liquid,eq_offer,delta_margin,delta_turn,gpa,lever,gmo,atr
4270,189980,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.368062,NaN,NaN,NaN
4271,189980,2015,0.209348,0.964946,NaN,-0.755599,NaN,3.481390,NaN,NaN,NaN,0.231456,NaN,0.438446,0.964946
4272,189980,2016,0.052204,0.551072,-0.157144,-0.498868,NaN,2.185484,0.0,-0.061452,-0.413874,0.233149,0.039014,0.376994,0.551072
4273,189980,2017,0.043043,0.671051,-0.009161,-0.628008,-0.005326,2.688868,0.0,-0.032228,0.119979,0.220419,0.033688,0.344766,0.671051
4274,189980,2018,0.060515,0.678485,0.017473,-0.617970,-0.029874,1.654146,0.0,0.002768,0.007434,0.202321,0.003814,0.347534,0.678485

In [14]:
# converting df_fs_02 to df_fs_03
df_fs_03['code'] = df_fs_01['code']
df_fs_03['year'] = df_fs_01['year']

# ROA and its f-score in DataFrame
df_fs_03.f_roa = np.where(df_fs_02.cal_roa > 0, 1, 0)

# CFO and its f-score in DataFrame
df_fs_03.f_cfo = np.where(df_fs_02.cal_cfo > 0, 1, 0)

# delta ROA and its f-score in DataFrame 
df_fs_03.f_droa = np.where(df_fs_02.delta_roa > 0, 1, 0)

# Accrual and its f-score
df_fs_03.f_accrual = np.where(df_fs_02.accrual < 0, 1, 0)

# Delta_leverage and its f-score
df_fs_03.f_dlever = np.where(df_fs_02.delta_lever < 0, 1, 0)

# delta_liquidity and its f-score
df_fs_03.f_dliquid = np.where(df_fs_02.delta_liquid > 0, 1, 0)

# equity offer and its f-score
df_fs_03.f_equityoffer = np.where(df_fs_02.eq_offer > 0, 0, 1)

# Delta_margin and its f-score 
df_fs_03.f_dmargin = np.where(df_fs_02.delta_margin > 0, 1, 0)

# Delta_turnover and its f-score
df_fs_03.f_dturnover = np.where(df_fs_02.delta_turn > 0, 1, 0)

# total f_score 
df_fs_03.f_total = df_fs_03.f_roa + \
                   df_fs_03.f_cfo + \
                   df_fs_03.f_droa + \
                   df_fs_03.f_accrual + \
                   df_fs_03.f_dlever + \
                   df_fs_03.f_dliquid + \
                   df_fs_03.f_equityoffer + \
                   df_fs_03.f_dmargin + \
                   df_fs_03.f_dturnover 

# gpa decile
df_fs_03.gpa_decile = pd.qcut(df_fs_02['gpa'], 10, labels=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [18]:
df_fs_03[df_fs_03['code'] == '013120']

,code,year,f_roa,f_cfo,f_droa,f_accrual,f_dlever,f_dliquid,f_equityoffer,f_dmargin,f_dturnover,f_total,gpa_decile
2110,013120,2014,0,0,0,0,0,0,1,0,0,1,8
2111,013120,2015,1,1,0,1,0,1,1,0,0,5,8
2112,013120,2016,1,1,0,1,0,1,1,1,0,6,8
2113,013120,2017,1,1,0,1,0,1,1,1,0,6,8
2114,013120,2018,1,1,1,1,1,1,1,1,1,9,7

In [182]:
above_fs7 = df_fs_03.query('f_total >= 7')

In [183]:
len(above_fs7)

1369

In [184]:
above_fs8 = df_fs_03.query('f_total >= 8')

In [185]:
len(above_fs8)

642

In [186]:
above_fs9 = df_fs_03.query('f_total == 9')

In [187]:
len(above_fs9)

126

#### Filtering to choose 20 companies

In [16]:
df = df_fs_2019.copy()

In [31]:
df_univ.keys()

Index(['id', 'name', 'market_type', 'quant', 'market_sum', 'property_total',
       'debt_total', 'listed_stock_cnt', 'pbr', 'face_value', 'present_value'],
      dtype='object')

In [32]:
listed_companies = df_univ[['id', 'name']]

In [35]:
# created a dictionary of listed companies
listed_dictionary = {}
for idx in range(len(listed_companies)):
    listed_dictionary[listed_companies['id'].iloc[idx]] = listed_companies['name'].iloc[idx]

In [134]:
# import Jiho's fscore list
df_jiho = pd.read_csv('original_fscore.tsv', delimiter='\t', header=0)

In [135]:
df_jiho.head(10)

        회사명  18_fscore  17_fscore
0        샘표          9          9
1     신대양제지          9          9
2  한국수출포장공업          9          9
3        한섬          9          9
4      제이엠티          9          9
5       모아텍          9          9
6    S&K폴리텍          9          9
7       파트론          9          9
8  신세계인터내셔날          9          9
9    롯데정밀화학          9          9

In [137]:
jiho_fs8 = df_jiho[df_jiho['18_fscore'] > 7]

##### NCAV
net current asset value = current asset - total liabilities

In [47]:
df_bm.keys()

Index(['id', 'market_type', 'market_sum', 'property_total', 'debt_total',
       'pbr', 'book_value', 'bm_ratio', 'bm_decile', 'pbr_decile'],
      dtype='object')

In [189]:
df_01 = df_univ[['id', 'name', 'market_type', 'market_sum', 'debt_total']]
df_01 = df_01.rename(index=str, columns={'id': 'code'})

In [190]:
df_02 = df_bm[['id', 'bm_decile', 'pbr_decile']]
df_02 = df_02.rename(index=str, columns={'id': 'code'})

In [191]:
df_03 = above_fs8[above_fs8['year'] == '2018']

In [192]:
df_04 = above_fs7[(above_fs7['year'] == '2018')]

In [193]:
df_05 = above_fs9[(above_fs9['year'] == '2018')]

In [194]:
df = pd.merge(df_01, df_02, on='code')

In [195]:
df_a = df.copy()

In [196]:
df_a.keys()

Index(['code', 'name', 'market_type', 'market_sum', 'debt_total', 'bm_decile',
       'pbr_decile'],
      dtype='object')

In [197]:
df_04.keys()

Index(['code', 'year', 'f_roa', 'f_cfo', 'f_droa', 'f_accrual', 'f_dlever',
       'f_dliquid', 'f_equityoffer', 'f_dmargin', 'f_dturnover', 'f_total',
       'gpa_decile'],
      dtype='object')

In [198]:
df_fs_01.keys()

Index(['code', 'year', 'total_asset', 'operating_income', 'cf_operation',
       'lt_debt', 'lt_borrowing', 'current_asset', 'current_liabilities',
       'stock_issued', 'gross_profit', 'total_sales', 'l_total_asset',
       'avg_total_asset'],
      dtype='object')

In [199]:
df_b = df_fs_01[['code', 'year', 'current_asset']]
df_b = df_b[df_b.year == '2018']

In [200]:
df_c = pd.merge(df_a, df_b, how='inner', on='code')

In [201]:
df_c['ncav'] = df_c['current_asset'] - df_c['debt_total']

In [202]:
df_c = df_c.reset_index()

In [203]:
df_c['mktsum*1.5'] = df_c['market_sum'] * 1.5

In [204]:
df_c.head()

,index,code,name,market_type,market_sum,debt_total,bm_decile,pbr_decile,year,current_asset,ncav,mktsum*1.5
0,0,005380,현대차,1,272427,1067597.0,10,9,2018,471435.1,-596161.9,408640.5
1,1,005380,현대차,1,272427,1067597.0,10,9,2018,471435.1,-596161.9,408640.5
2,2,005490,POSCO,1,201838,314887.0,10,10,2018,336510.0,21623.0,302757.0
3,3,012330,현대모비스,1,200621,123677.0,8,8,2018,197204.8,73527.8,300931.5
4,4,017670,SK텔레콤,1,199038,200199.0,7,7,2018,79588.4,-120610.6,298557.0

In [205]:
df_c['ncav1'] = np.where(df_c.ncav > df_c['mktsum*1.5'], 1, 0)

In [206]:
df_c['ncav2'] = np.where(df_c.ncav > df_c.market_sum, 1, 0)

In [207]:
df_c = df_c.reset_index()
df_c.head()

,level_0,index,code,name,market_type,market_sum,debt_total,bm_decile,pbr_decile,year,current_asset,ncav,mktsum*1.5,ncav1,ncav2
0,0,0,005380,현대차,1,272427,1067597.0,10,9,2018,471435.1,-596161.9,408640.5,0,0
1,1,1,005380,현대차,1,272427,1067597.0,10,9,2018,471435.1,-596161.9,408640.5,0,0
2,2,2,005490,POSCO,1,201838,314887.0,10,10,2018,336510.0,21623.0,302757.0,0,0
3,3,3,012330,현대모비스,1,200621,123677.0,8,8,2018,197204.8,73527.8,300931.5,0,0
4,4,4,017670,SK텔레콤,1,199038,200199.0,7,7,2018,79588.4,-120610.6,298557.0,0,0

In [208]:
df_c = df_c.drop(['level_0', 'index'], axis=1)
df_c.head()

,code,name,market_type,market_sum,debt_total,bm_decile,pbr_decile,year,current_asset,ncav,mktsum*1.5,ncav1,ncav2
0,005380,현대차,1,272427,1067597.0,10,9,2018,471435.1,-596161.9,408640.5,0,0
1,005380,현대차,1,272427,1067597.0,10,9,2018,471435.1,-596161.9,408640.5,0,0
2,005490,POSCO,1,201838,314887.0,10,10,2018,336510.0,21623.0,302757.0,0,0
3,012330,현대모비스,1,200621,123677.0,8,8,2018,197204.8,73527.8,300931.5,0,0
4,017670,SK텔레콤,1,199038,200199.0,7,7,2018,79588.4,-120610.6,298557.0,0,0

In [209]:
df_ncav2 = df_c[(df_c['ncav1'] == 1) | (df_c['ncav2'] == 1)]

In [210]:
df_ncav = df_ncav[df_ncav['ncav1'] == 1]

In [211]:
# NCAV company lists
ncav_list = df_ncav['name']

In [212]:
ncav_list

145       KISCO홀딩스
172     S&amp;T홀딩스
205           동일산업
298           삼정펄프
308           세원정공
317           만호제강
329          CS홀딩스
360            SJM
365         SJM홀딩스
381         WISCOM
422           동원개발
522           리드코프
533        아이디스홀딩스
583        네오위즈홀딩스
589            예림당
626            로스웰
679           헝셩그룹
780           이라이콤
802        차이나그레이트
816            블루콤
828       에스앤씨엔진그룹
880       피에스케이홀딩스
952         씨케이에이치
1089     이스트아시아홀딩스
1105        한국정밀기계
1112           감마누
Name: name, dtype: object

In [213]:
ncav2_list = df_ncav2['name']

In [214]:
ncav2_list

94            신도리코
101           남양유업
132           한국철강
146       KISCO홀딩스
152         KPX홀딩스
153           일성신약
157           삼영전자
173     S&amp;T홀딩스
178           삼양통상
185           화성산업
206           동일산업
227           미창석유
237            지투알
244          세아특수강
267          신영와코루
273        새론오토모티브
286           KTcs
290       S&amp;TC
296           한국제지
299           삼정펄프
300            휴스틸
303           삼성공조
309           세원정공
311           대창단조
317           유성기업
318           만호제강
327          한세엠케이
330          CS홀딩스
332           부국철강
361            SJM
           ...
698           피에스텍
712          성도이엔지
719          동양이엔피
773            코메론
781           이라이콤
782           삼현철강
789           금강철강
790           한일진공
803        차이나그레이트
814            리노스
817            블루콤
829       에스앤씨엔진그룹
874          픽셀플러스
881       피에스케이홀딩스
905           동신건설
927           현대공업
932          알티캐스트
936          유비벨록스
953         씨케이에이치
954         지와이커머스
976          파인디지털
980            파커스
1000         아즈텍WB
1002        신원종합개발
1004        와토스코리아
1005        삼일기업공사
1058          이씨에스
1090     이스트아시아홀딩스
1106        한국정밀기계
1113           감마누
Name: name, Length: 84, dtype: object

In [219]:
ncav_n_fscore = pd.merge(df_ncav2, df_03, how='inner', on='code')

In [220]:
ncav_n_fscore

,code,name,market_type,market_sum,debt_total,bm_decile,pbr_decile,year_x,current_asset,ncav,...,f_cfo,f_droa,f_accrual,f_dlever,f_dliquid,f_equityoffer,f_dmargin,f_dturnover,f_total,gpa_decile
0,005680,삼영전자,1,2300,275.0,9,9,2018,3259.7,2984.7,...,1,1,1,1,1,1,1,1,9,2
1,069640,한세엠케이,1,726,571.0,9,10,2018,1550.8,979.8,...,1,0,1,1,1,1,1,1,8,10
2,013120,동원개발,2,4168,1744.0,8,9,2018,8545.1,6801.1,...,1,1,1,1,1,1,1,1,9,7
3,054800,아이디스홀딩스,2,1428,1888.0,10,9,2018,5291.6,3403.6,...,1,1,1,1,1,1,1,0,8,7
4,042420,네오위즈홀딩스,2,1187,743.0,10,10,2018,2972.2,2229.2,...,1,1,1,0,1,1,1,1,8,7
5,041520,이라이콤,2,687,1028.0,10,10,2018,2475.9,1447.9,...,1,1,1,0,1,1,1,1,8,4
6,123840,한일진공,2,672,294.0,9,9,2018,1069.6,775.6,...,1,1,1,1,1,0,1,1,8,2
7,031980,피에스케이홀딩스,2,543,482.0,10,8,2018,2282.2,1800.2,...,1,0,1,1,1,1,1,1,8,10
8,032080,아즈텍WB,2,405,153.0,9,10,2018,703.4,550.4,...,1,1,1,1,1,1,1,1,9,3
9,067010,이씨에스,2,317,150.0,8,8,2018,523.6,373.6,...,1,1,1,1,1,1,0,1,8,8

In [221]:
df_d = pd.merge(df_c, df_05, how='inner', on='code')

In [222]:
df_d.to_excel('2019_fs8.xlsx')

##### book-market ratio top 20% & F score '8'
- condition 1 >>> bm ratio top 20% (8 and up)
- condition 2 >>> f score 8 and up

In [223]:
len(df_bm_t20)

577

In [224]:
df = df_bm_t20.rename(index=str, columns={'id': 'code'})

In [225]:
df_fs_bm20 = pd.merge(df, above_fs8, how='inner', on='code')

In [226]:
bm20_n_fscore = df_fs_bm20['name']

In [227]:
bm20_n_fscore

0          POSCO
1           롯데쇼핑
2            이마트
3         한국가스공사
4         한국가스공사
5            KCC
6             LS
7             영풍
8         SK네트웍스
9         SK네트웍스
10        오리온홀딩스
11        롯데하이마트
12           HDC
13          대한유화
14           BGF
15            풍산
16            풍산
17         세아베스틸
18         삼양홀딩스
19           삼양사
20            한진
21            한진
22          고려제강
23            동양
24          서울가스
25            E1
26         농심홀딩스
27           삼천리
28         세아홀딩스
29          조선내화
         ...
270         성호전자
271         성호전자
272           카스
273           카스
274           삼일
275           삼일
276           삼일
277        성우테크론
278         신화콘텍
279       크로바하이텍
280        한양디지텍
281       육일씨엔에쓰
282         이씨에스
283        동양에스텍
284        제이엠아이
285         한창산업
286         대동기어
287       티피씨글로벌
288          듀오백
289       한국정보공학
290        타이거일렉
291        한컴지엠디
292       케이엔더블유
293         대동금속
294    이스트아시아홀딩스
295         PN풍년
296        케이피티유
297         영신금속
298         광진실업
299        오킨스전자
Name: name, Length: 300, dtype: object

#### F Score & Market Sum & GP/A
- fscore 8 and up
- Market sum bottom 50 and below
- gp/a top 20%

In [228]:
# market_sum bottom 20% / KOSPI
df_bm_kospi['market_sum_decile'] = pd.qcut(df_bm_kospi['market_sum'], 10, labels=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
df_market_sum_kospi_bottom = df_bm_kospi.query('market_sum_decile <= 5')

# market_sum bottom 20% / KOSDAQ
df_bm_kosdaq['market_sum_decile'] = pd.qcut(df_bm_kosdaq['market_sum'], 10, labels=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
df_market_sum_kosdaq_bottom = df_bm_kosdaq.query('market_sum_decile <= 5')

In [229]:
df_market_sum_kospi_top = df_bm_kospi.query('market_sum_decile > 5')
df_market_sum_kosdaq_top = df_bm_kosdaq.query('market_sum_decile > 5')

In [230]:
df_mkt_sum_bt = pd.concat([df_market_sum_kosdaq_bottom, df_market_sum_kospi_bottom])

In [231]:
df_mkt_sum_top = pd.concat([df_market_sum_kosdaq_top, df_market_sum_kospi_top])

In [232]:
df_mkt_sum_bt = df_mkt_sum_bt.rename(index=str, columns={'id':"code"})

In [233]:
df_mkt_sum_top = df_mkt_sum_top.rename(index=str, columns={'id': 'code'})

In [235]:
df0 = pd.merge(df_mkt_sum_bt, above_fs9, how='inner', on='code')

In [236]:
len(df0)

52

In [237]:
df1 = df0[df0.gpa_decile > 7]
len(df1)

21

In [238]:
gpa_n_fscore = df1.name

In [239]:
gpa_n_fscore

0        엘엠에스
1         액트로
4         매커스
5       와이비엠넷
9        인포뱅크
10      에이치시티
13     흥국에프엔비
19        TPC
20        엑시콘
21      쎄미시스코
22       피델릭스
23    유니온커뮤니티
26      피씨디렉트
27         베셀
29       옵티시스
31     육일씨엔에쓰
32        디엠티
35        듀오백
37    셀바스헬스케어
45     TBH글로벌
46         진도
Name: name, dtype: object

In [240]:
df_00 = pd.merge(df_mkt_sum_top, above_fs9, how='inner', on='code')
df_11 = df_00[df_00.gpa_decile > 7]

In [241]:
len(df_11)

24

In [242]:
df_11

,code,name,market_type,quant,market_sum,property_total,debt_total,listed_stock_cnt,pbr,face_value,...,f_cfo,f_droa,f_accrual,f_dlever,f_dliquid,f_equityoffer,f_dmargin,f_dturnover,f_total,gpa_decile
1,108230,톱텍,2,37135,3451,3928.0,489.0,36796,0.98,500,...,1,1,1,1,1,1,1,1,9,10
5,228850,레이언스,2,1951,2472,2011.0,188.0,16591,1.29,500,...,1,1,1,1,1,1,1,1,9,8
6,045100,한양이엔지,2,26406,2232,4777.0,1723.0,18000,0.71,500,...,1,1,1,1,1,1,1,1,9,9
8,073560,우리손에프앤지,2,975103,1831,3559.0,1719.0,69238,1.02,500,...,1,1,1,1,1,1,1,1,9,8
9,052710,아모텍,2,42629,1759,3958.0,1984.0,9743,0.89,500,...,1,1,1,1,1,1,1,1,9,8
10,058610,에스피지,2,67881,1710,2752.0,1499.0,20877,1.31,500,...,1,1,1,1,1,1,1,1,9,8
11,011370,서한,2,77330,1640,4724.0,1740.0,100895,0.55,500,...,1,1,1,1,1,1,1,1,9,9
12,015710,코콤,2,4583892,1588,1476.0,345.0,17530,1.33,500,...,1,1,1,1,1,1,1,1,9,9
14,001540,안국약품,2,14698,1441,2129.0,657.0,13042,0.86,500,...,1,1,1,1,1,1,1,1,9,10
15,035610,솔본,2,3039,1329,1973.0,197.0,27346,0.90,500,...,1,1,1,1,1,1,1,1,9,9
17,079370,제우스,2,13988,1308,4024.0,1878.0,10384,0.62,500,...,1,1,1,1,1,1,1,1,9,9
18,090470,제이스텍,2,9689,1277,1433.0,134.0,14598,0.98,500,...,1,1,1,1,1,1,1,1,9,10
20,022220,정산애강,2,496833,1235,831.0,114.0,51795,1.72,500,...,1,1,1,1,1,1,1,1,9,9
25,066620,국보디자인,2,1664,1084,1750.0,664.0,7500,0.95,500,...,1,1,1,1,1,1,1,1,9,9
28,041440,에버다임,2,36534,1019,2694.0,774.0,17916,0.53,500,...,1,1,1,1,1,1,1,1,9,8
32,031310,아이즈비전,2,326622,959,1473.0,356.0,15773,0.99,500,...,1,1,1,1,1,1,1,1,9,9
41,005440,현대그린푸드,1,7117,12164,28374.0,7263.0,97704,0.64,500,...,1,1,1,1,1,1,1,1,9,8
42,001800,오리온홀딩스,1,11692,10430,43421.0,11655.0,62645,0.53,500,...,1,1,1,1,1,1,1,1,9,8
43,071840,롯데하이마트,1,9542,10140,31171.0,10552.0,23608,0.49,5000,...,1,1,1,1,1,1,1,1,9,10
53,002310,아세아제지,1,4937,3475,8124.0,2789.0,8957,0.65,5000,...,1,1,1,1,1,1,1,1,9,8
61,000970,한국주철관,1,15454,2164,3404.0,785.0,22800,0.80,500,...,1,1,1,1,1,1,1,1,9,9
62,004060,SG세계물산,1,254439,1798,3344.0,1375.0,202425,0.91,500,...,1,1,1,1,1,1,1,1,9,9
63,015890,태경산업,1,106964,1695,5427.0,2324.0,29229,0.74,500,...,1,1,1,1,1,1,1,1,9,8
69,003960,사조대림,1,9174,1198,7209.0,4046.0,5961,0.54,5000,...,1,1,1,1,1,1,1,1,9,9