In [1]:
import pandas as pd

import BigBull
import sqlalchemy

In [2]:
df = pd.read_csv('df_kospi_trade.csv')

In [3]:
df

,code,market_type,date,present_value,quant,buy_total,sell_total,market_sum,per,pbr
0,005930,0,2018-04-30,2650000,0,0,0,3402242,9.78,1.74
1,000660,0,2018-04-30,84500,4412687,490930,278694,615162,5.78,1.76
2,005935,0,2018-04-30,2125000,0,0,0,384042,7.84,1.40
3,005380,0,2018-04-30,160000,351174,108825,124739,352442,11.33,0.62
4,068270,0,2018-04-30,271000,1022167,71751,65076,339044,84.82,13.92
5,005490,0,2018-04-30,372500,357549,23028,16858,324771,11.64,0.68
6,207940,0,2018-04-30,488000,233991,22164,11257,322885,-332.88,8.12
7,028260,0,2018-04-30,140000,409655,366108,183168,265566,41.87,1.02
8,105560,0,2018-04-30,61200,561581,131174,235873,255884,7.73,0.72
9,051910,0,2018-04-30,360000,154986,15537,25114,254132,14.48,1.71
10,012330,0,2018-04-30,248000,163884,27337,25919,241413,15.40,0.80
11,015760,0,2018-04-30,37450,2820836,81442,316046,240416,18.51,0.34
12,035420,0,2018-04-30,716000,60470,17868,7270,236013,30.54,4.42
13,032830,0,2018-04-30,117000,111975,62867,67015,234000,20.07,0.72
14,055550,0,2018-04-30,47650,595712,153918,151729,225956,7.74,0.69
15,051900,0,2018-04-30,1370000,42344,541,1698,213969,40.01,7.66
16,034730,0,2018-04-30,294000,81979,31583,12368,206859,12.43,1.21
17,090430,0,2018-04-30,349000,202542,21194,39259,204020,61.13,5.80
18,018260,0,2018-04-30,245000,83270,14636,28346,189576,35.75,3.41
19,017670,0,2018-04-30,228500,143344,21531,17623,184504,7.10,0.90
20,096770,0,2018-04-30,196500,213769,30469,41776,181695,8.75,1.01
21,066570,0,2018-04-30,102000,573590,131502,215650,166921,10.69,1.39
22,086790,0,2018-04-30,47750,561809,90940,135039,143366,6.94,0.59
23,011170,0,2018-04-30,414000,56134,4058,6907,141900,6.32,1.24
24,003550,0,2018-04-30,81100,171638,38469,29904,139944,5.95,0.89
25,033780,0,2018-04-30,97800,161786,98275,39098,134272,11.54,1.59
26,000270,0,2018-04-30,33100,1718503,115885,273945,134175,13.86,0.49
27,000810,0,2018-04-30,267500,54000,13639,22618,126728,14.00,0.95
28,006400,0,2018-04-30,183500,163778,25018,33931,126183,19.65,1.09
29,251270,0,2018-04-30,147500,548215,30382,86731,125524,37.84,2.90
...,...,...,...,...,...,...,...,...,...,...
1412,261270,0,2018-04-30,11170,1230,29206,31278,45,NaN,NaN
1413,014285,0,2018-04-30,37400,3838,225,759,44,7.79,0.61
1414,001755,0,2018-04-30,8370,143,477,1005,44,22.62,0.41
1415,138920,0,2018-04-30,10905,917,14630,196,44,NaN,NaN
1416,000145,0,2018-04-30,8880,601,1552,1363,42,-14.61,0.39
1417,000545,0,2018-04-30,5380,12040,2105,1586,41,4.11,0.56
1418,090355,0,2018-04-30,8720,2023,312,1870,40,6.06,0.60
1419,000995,0,2018-04-30,35750,2503,256,645,40,14.44,3.39
1420,001065,0,2018-04-30,24350,385,366,234,40,-716.18,1.94
1421,000547,0,2018-04-30,25700,958,999,307,39,19.63,2.66
1422,139240,0,2018-04-30,10245,22602,10750,9326,39,NaN,NaN
1423,004835,0,2018-04-30,2790,14548,17041,3950,39,90.00,0.66
1424,227550,0,2018-04-30,5860,704,11322,14063,39,NaN,NaN
1425,271050,0,2018-04-30,13305,2602,25556,26048,37,NaN,NaN
1426,00781K,0,2018-04-30,4640,344,1136,1747,36,5.43,0.35
1427,139310,0,2018-04-30,5985,1829,10826,8411,36,NaN,NaN
1428,001067,0,2018-04-30,40850,71,238,379,35,-1201.47,3.25
1429,157510,0,2018-04-30,13520,123,9289,6261,35,NaN,NaN
1430,253160,0,2018-04-30,11565,2481,5257,10586,35,NaN,NaN
1431,000325,0,2018-04-30,18000,77,52,629,33,5.69,0.49
1432,002785,0,2018-04-30,3835,59002,7943,5812,33,23.38,7.40
1433,001527,0,2018-04-30,10600,1615,435,741,33,155.88,2.57
1434,001799,0,2018-04-30,24650,64,153,325,32,22.35,0.49
1435,000227,0,2018-04-30,19200,1087,363,1335,32,31.63,1.69
1436,008355,0,2018-04-30,9450,25279,897,3608,29,47.97,7.06
1437,004987,0,2018-04-30,13150,96879,1645,1598,29,27.17,0.87
1438,004989,0,2018-04-30,9880,13422,947,1754,28,20.41,0.66
1439,002787,0,2018-04-30,9130,96845,2754,2813,27,55.67,17.62
1440,001529,0,2018-04-30,24100,2519,28,114,22,354.41,5.83
1441,013367,0,2018-04-30,2615,0,0,0,16,-11.78,1.68

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
type(df) == pd.DataFrame

True

In [6]:
conn_string = 'postgresql+psycopg2://daesikkim@localhost:5432/db_goldspoon'
db = BigBull.StockDB(conn_string, BigBull.__meta)

In [8]:
df.to_sql('market_trade_info', con=conn_string, if_exists='append', index=False)