In [1]:
import BigBull

# 'conn_string' is a connection url for connecting to your databse
# So, you have to install you own db before using this library.
# more information plz, check http://docs.sqlalchemy.org/en/latest/core/engines.html
# For example, if you use PostgreSQL for db
# url = 'postgresql+psycopg2://username:password@localhost:5432/mydb'

conn_string = "mysql+pymysql://root:deepstock@localhost/deepstock?charset=utf8"
db = BigBull.StockDB(conn_string, BigBull.__meta)
crawler = BigBull.StockCodeCrawler(db)

In [2]:
db = BigBull.StockDB(conn_string, BigBull.__meta)

In [3]:
crawler = BigBull.StockCodeCrawler(db)

In [3]:
hist_crawler = BigBull.HistoryCrawler(db)

In [4]:
hist_crawler.save_history_of('삼성전자', '2008-1-1', '2012-12-31', hard_mode=True)

종료
DB에 데이터가 아무것도 없습니다.
2008-01-01 00:00:00 ~ 2012-12-31 00:00:00 기간의
INSERT COUNT: 1248 데이터가 크롤 및 저장 되었습니다.

True

In [4]:
hist_crawler.save_history_of('삼성전자', '2008-1-1', '2012-12-31', hard_mode=True)

2008-01-01 00:00:00 ~ 2012-12-31 00:00:00 기간의
데이터가 크롤 및 UPDATE 되었습니다. UPDATE COUNT: 1248
unique_req
{datetime.datetime(2008, 1, 1, 0, 0), datetime.datetime(2012, 12, 30, 0, 0), datetime.datetime(2012, 12, 29, 0, 0), datetime.datetime(2012, 12, 31, 0, 0)}
unique_db
set()
This is empty dict
2008-01-01 00:00:00 ~ 2008-01-01 00:00:00 기간의
데이터가 정상적으로 크롤 및 INSERT 되지 않았습니다. INSERT COUNT: 0
This is empty dict
2012-12-29 00:00:00 ~ 2012-12-31 00:00:00 기간의
데이터가 정상적으로 크롤 및 INSERT 되지 않았습니다. INSERT COUNT: 0

False

In [5]:
hist_crawler.save_history_of('삼성전자', '2008-1-1', '2012-12-31', hard_mode=False)

unique_req
{datetime.datetime(2012, 12, 30, 0, 0), datetime.datetime(2012, 12, 29, 0, 0), datetime.datetime(2012, 12, 31, 0, 0), datetime.datetime(2008, 1, 1, 0, 0)}
unique_db
set()
종료
This is empty dict
2008-01-01 00:00:00 ~ 2008-01-01 00:00:00 기간의
데이터가 정상적으로 크롤 및 INSERT 되지 않았습니다. INSERT COUNT: 0
종료
This is empty dict
2012-12-29 00:00:00 ~ 2012-12-31 00:00:00 기간의
데이터가 정상적으로 크롤 및 INSERT 되지 않았습니다. INSERT COUNT: 0

False

In [5]:
hist_crawler.save_history_of('삼성전자', '2007-12-13', '2013-1-7', hard_mode=False)

unique_req
{datetime.datetime(2007, 12, 28, 0, 0), datetime.datetime(2007, 12, 21, 0, 0), datetime.datetime(2008, 1, 1, 0, 0), datetime.datetime(2013, 1, 4, 0, 0), datetime.datetime(2007, 12, 19, 0, 0), datetime.datetime(2007, 12, 18, 0, 0), datetime.datetime(2012, 12, 31, 0, 0), datetime.datetime(2007, 12, 26, 0, 0), datetime.datetime(2013, 1, 5, 0, 0), datetime.datetime(2007, 12, 22, 0, 0), datetime.datetime(2013, 1, 2, 0, 0), datetime.datetime(2007, 12, 30, 0, 0), datetime.datetime(2007, 12, 15, 0, 0), datetime.datetime(2007, 12, 17, 0, 0), datetime.datetime(2007, 12, 29, 0, 0), datetime.datetime(2007, 12, 23, 0, 0), datetime.datetime(2007, 12, 27, 0, 0), datetime.datetime(2007, 12, 24, 0, 0), datetime.datetime(2007, 12, 20, 0, 0), datetime.datetime(2013, 1, 7, 0, 0), datetime.datetime(2007, 12, 16, 0, 0), datetime.datetime(2013, 1, 6, 0, 0), datetime.datetime(2007, 12, 25, 0, 0), datetime.datetime(2013, 1, 1, 0, 0), datetime.datetime(2012, 12, 30, 0, 0), datetime.datetime(2013, 1, 3, 0, 0), datetime.datetime(2007, 12, 14, 0, 0), datetime.datetime(2007, 12, 31, 0, 0), datetime.datetime(2012, 12, 29, 0, 0), datetime.datetime(2007, 12, 13, 0, 0)}
unique_db
set()
2007-12-13 00:00:00 ~ 2008-01-01 00:00:00 기간의
데이터가 크롤 및 INSERT 되었습니다. INSERT COUNT: 10
2012-12-29 00:00:00 ~ 2013-01-07 00:00:00 기간의
데이터가 크롤 및 INSERT 되었습니다. INSERT COUNT: 4
총 14개의 데이터가 크롤 및 INSERT 되었습니다. INSERT COUNT: 14

True

In [6]:
hist_crawler.save_history_of('삼성전자', '2007-12-13', '2013-1-15', hard_mode=False)

2013-01-08 00:00:00 ~ 2013-01-15 00:00:00 기간의
데이터가 크롤 및 INSERT 되었습니다. INSERT COUNT: 6
총 6개의 데이터가 크롤 및 INSERT 되었습니다. INSERT COUNT: 6

True

In [4]:
hist_crawler.save_history_of('삼성전자', '2008-1-1', '2012-12-31', hard_mode=False)

hard_mode 설정이 False 이고
요청하신 기간의 데이터는 이미 DB에 있으니
아무런 작업이 일어나지 않습니다.

True

In [ ]:
hist_crawler.save_history_of('삼성전자', '2008-1-1', '2012-12-31', hard_mode=False)

# ------------------------------------------------

In [3]:
crawler.save_stock_code()

IntergrityError:
	-error_code: 1062
	-error_msg: Duplicate entry '005930' for key 'PRIMARY'
**** RollBack ****
IntergrityError:
	-error_code: 1062
	-error_msg: Duplicate entry '091990' for key 'PRIMARY'
**** RollBack ****

In [4]:
db.find_stock_code('삼성전자')

'005930'

In [227]:
db.find_stock_code('KOSPI')

KOSPI 회사는 DB에 없습니다.

In [174]:
db.find_stock_code('SK텔레콤')

'017670'

In [34]:
db.find_stock_code('카카오')

'035720'

In [39]:
db.find_stock_code('삼성전기')

'009150'

In [8]:
1417+1273

2690

In [7]:
len([i for i in db.load_all_stock_code()])

2690

In [5]:
import datetime
import pprint

import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

from sqlalchemy import select, desc, update
from sqlalchemy.sql.expression import bindparam

# 필요한 함수들

In [6]:
YEAR_CHANGED = False # 병렬구조로 바꿀 때 local로 집어 넣어야함.

# 가격정보 관련
def filter_for_history(tag):
    return (
        tag.name == 'td'
        and 'num' in tag.get('class', [])
        and 'cDn' not in tag.get('class', [])
        and 'cUp' not in tag.get('class', [])
        and 'cFt' not in tag.get('class', [])
    )

def is_the_only_string_within_a_tag(s):
    """Return True if this string is the only child of its parent tag."""
    return s and (s == s.parent.string)

def text_to_num(tag):
    return int(tag.text.replace(",",""))

def chunks(l, n):
    """Yield successive n-sized chunks from l."""
    for i in range(0, len(l), n):
        yield l[i:i + n]

# 시간관련
def check_99_in_year(tags):
    test = [tag.text.split('.')[0] for tag in tags]
    if(test.count('99')):
        return True, test
    else:
        return False, test

def string_to_datetime(tags):
    global YEAR_CHANGED
    if(YEAR_CHANGED):
        return [datetime.datetime.strptime('19'+tag.text, "%Y.%m.%d") for tag in tags]
    else:
        check_ninenine, test = check_99_in_year(tags)
        if(check_ninenine):
            print("--------99년 발견------------")
            YEAR_CHANGED = True
            index = test.index('99')
            return [datetime.datetime.strptime('20'+tag.text, "%Y.%m.%d") for tag in tags[:index]] + \
            [datetime.datetime.strptime('19'+tag.text, "%Y.%m.%d") for tag in tags[index:]]
        else:
            return [datetime.datetime.strptime('20'+tag.text, "%Y.%m.%d") for tag in tags]
        
def listdata_to_dict(ls):
    temp_dict = {
        'code': ls[0], # 종목코드
        'date': ls[1], # 날짜
        'open': ls[2], # 시가
        'high': ls[3], # 고가
        'low': ls[4], # 저가
        'close': ls[5], # 종가
        'volume': ls[6], #거래량
    }
    
    return temp_dict

In [7]:
YEAR_CHANGED

False

In [8]:
def check_finalpage(np_array, start_date):
    if(len(np_array[np_array <= start_date])):
        return True
    else:
        return False


def base_crawl_method_for_history(company_name, start_date=datetime.datetime.min, end_date=datetime.datetime.today):
    """
    회사이름과, 원하는 기간(시작, 마지막 날짜 포함)안의 historical data(시가, 종가, 고가, 저가, 거래량, 수정주가 적용)를
    Daum 에서 가져온다.
    
    - 크롤기간의 default값은 과거~이 함수가 실행되는 timezone에서의 날짜이다.
    - page 1 부터 requests를 날리는 구조이다.
    - 원하는기간의 데이터가 없는 page는 그냥 넘어간다.
    - 마지막페이지이거나, 원하는 기간내의 데이터를 이미 확보했다면 page 끝까지 requests날리지 않고 break 된다.
    """
    global YEAR_CHANGED
    # start_date, end_date 필터링 및 초기값 설정
    if(type(start_date)== str):
        start_date = datetime.datetime.strptime(start_date, "%Y-%m-%d")
    if(type(end_date) == str):
        end_date = datetime.datetime.strptime(end_date, "%Y-%m-%d")
    else:
        end_date = end_date()
    
    page = 1
    FOUND_FINALPAGE = False
    code = db.find_stock_code(company_name)
    
    
    while True:
        req = requests.get(f'http://finance.daum.net/item/quote_yyyymmdd_sub.daum?page={page}&code={code}&modify=1')
        html = req.text
        soup = BeautifulSoup(html, 'html.parser')
        d = len(soup.find_all('td', 'datetime2'))*5
        p = len(soup.find_all(filter_for_history, string=is_the_only_string_within_a_tag))
        
        price = list(chunks([text_to_num(tag) for tag in soup.find_all(filter_for_history, string= is_the_only_string_within_a_tag)], 5))
        date = string_to_datetime(soup.find_all('td','datetime2'))
        
        #cp = date.copy()
        np_price = np.array(price)
        np_date = np.array(date)
        
        index = (start_date <= np_date) * (np_date <= end_date)
        price = np_price[index].tolist()
        date = np_date[index].tolist()
        
        if((not index.sum()) and (d > 0) ):
            #print(f"page num: {page}")
            # 현재 페이지에 start_date ~ end_date 의 데이터가 없고
            # and
            # 현재 페이지에 (하나라도) 데이터가 있을경우
            # page +=1 하고 이 페이지는 아무런 작없 없이 pass 한다.
            # 하지만 이전페이지에서 원하는 데이터를 다 얻었다면 FOUND_FINALPAGE가 TRUE이므로
            # break 된다.
            if check_finalpage(np_date, start_date):
                print("종료")
                YEAR_CHANGED = False
                break
            
            page +=1
            pass
        elif(index.sum() and d>0):
            page +=1
            #pprint.pprint([[code, d] + p for d, p in zip(date, price)])
            yield [[code, d] + p for d, p in zip(date, price)]
            FOUND_FINALPAGE = check_finalpage(np_date, start_date)
            #print(FOUND_FINALPAGE)
            
            if(d != 150):
                # + 현재 페이지가 사이트에서 마지막 페이지 일경우
                # 다음 페이지는 빈 페이지일 것 이므로 크롤 작업을 break한다.
                # 마지막 페이지에는 항상 데이터가 30일치 이하로 있다. 그래서 d !=150조건을 썼다.
                # 마지막 페이지가 30일치 데이터가 있으면, 마지막 페이지이지만 이 조건문에서 걸러내지 못한다.
                # 하지만 그때는 index.sum()=0 이고 d = 0 이므로 가장 아래의 else 조건에서 break 된다.
                YEAR_CHANGED = False
                #print(1)
                break
            elif(FOUND_FINALPAGE):
                # + 현재 페이지에서 원하는 데이터를 찾았다
                # + 현재 페이지에 내가 원하는 날짜보다 그전날짜의 정보가있다 -> 이것이 마지막 페이지이다.
                # ex.) 2002년 3월 10일 ~ 데이터를 원했는데 100페이지에서 해당 날짜의
                # 데이터를 얻었다. 그러면 굳이 101페이지에 넘어가지 않고 break한다.
                # 만약 1월 18일이 해당 페이지에서 가장 오래된 데이터일 경우는(index.sum()>0 and d>0 and check_finalpage=False)
                # 이 조건문에서 걸러내지 못한다. 그래서 101페이지로 requests가 일어난다. 하지만 그때는 index.sum()=0, d >0 이므로
                # 가장 첫번째 if 문으로 넘어 가게 되지만, FOUND_FINALPAGE=TRUE 라서 break 된다.
                YEAR_CHANGED = False
                #print(2)
                break
        else:
            # 해당 페이지가 빈 페이지인 경우
            YEAR_CHANGED = False
            print(3)
            break

In [9]:
req = requests.get('http://finance.daum.net/quote/kospi200_yyyymmdd.daum?page=1')
html = req.text
soup = BeautifulSoup(html, 'html.parser')

In [10]:
soup.find_all('td', 'datetime2')

[<td class="datetime2">18.03.05</td>,
 <td class="datetime2">18.03.02</td>,
 <td class="datetime2">18.02.28</td>,
 <td class="datetime2">18.02.27</td>,
 <td class="datetime2">18.02.26</td>,
 <td class="datetime2">18.02.23</td>,
 <td class="datetime2">18.02.22</td>,
 <td class="datetime2">18.02.21</td>,
 <td class="datetime2">18.02.20</td>,
 <td class="datetime2">18.02.19</td>]

In [11]:
soup.find_all(filter_for_history, string=is_the_only_string_within_a_tag)

[<td class="num">66,486</td>,
 <td class="num">3,451,553</td>,
 <td class="num">83,585</td>,
 <td class="num">4,092,223</td>,
 <td class="num">94,901</td>,
 <td class="num">4,933,486</td>,
 <td class="num">69,195</td>,
 <td class="num">3,777,421</td>,
 <td class="num">86,345</td>,
 <td class="num">4,003,107</td>,
 <td class="num">74,326</td>,
 <td class="num">3,719,487</td>,
 <td class="num">65,201</td>,
 <td class="num">3,251,475</td>,
 <td class="num">61,420</td>,
 <td class="num">3,764,450</td>,
 <td class="num">56,031</td>,
 <td class="num">2,967,903</td>,
 <td class="num">70,084</td>,
 <td class="num">4,078,959</td>]

In [ ]:
d = len(soup.find_all('td', 'datetime2'))*5
p = len(soup.find_all(filter_for_history, string=is_the_only_string_within_a_tag))

price = list(chunks([text_to_num(tag) for tag in soup.find_all(filter_for_history, string= is_the_only_string_within_a_tag)], 5))
date = string_to_datetime(soup.find_all('td','datetime2'))

In [19]:
list(base_crawl_method_for_history('삼성전자', "2017-12-1"))

[[['005930',
   datetime.datetime(2018, 3, 5, 0, 0),
   2291000,
   2308000,
   2254000,
   2260000,
   265331],
  ['005930',
   datetime.datetime(2018, 3, 2, 0, 0),
   2329000,
   2340000,
   2300000,
   2301000,
   265310],
  ['005930',
   datetime.datetime(2018, 2, 28, 0, 0),
   2369000,
   2405000,
   2350000,
   2353000,
   303247],
  ['005930',
   datetime.datetime(2018, 2, 27, 0, 0),
   2418000,
   2419000,
   2369000,
   2369000,
   196611],
  ['005930',
   datetime.datetime(2018, 2, 26, 0, 0),
   2364000,
   2378000,
   2354000,
   2369000,
   191213],
  ['005930',
   datetime.datetime(2018, 2, 23, 0, 0),
   2338000,
   2390000,
   2338000,
   2361000,
   248466],
  ['005930',
   datetime.datetime(2018, 2, 22, 0, 0),
   2363000,
   2363000,
   2338000,
   2338000,
   177399],
  ['005930',
   datetime.datetime(2018, 2, 21, 0, 0),
   2364000,
   2379000,
   2342000,
   2364000,
   257604],
  ['005930',
   datetime.datetime(2018, 2, 20, 0, 0),
   2402000,
   2408000,
   2361000,
   2370000,
   202452],
  ['005930',
   datetime.datetime(2018, 2, 19, 0, 0),
   2490000,
   2490000,
   2393000,
   2419000,
   307069],
  ['005930',
   datetime.datetime(2018, 2, 14, 0, 0),
   2404000,
   2455000,
   2397000,
   2450000,
   378118],
  ['005930',
   datetime.datetime(2018, 2, 13, 0, 0),
   2310000,
   2403000,
   2310000,
   2377000,
   378465],
  ['005930',
   datetime.datetime(2018, 2, 12, 0, 0),
   2255000,
   2316000,
   2252000,
   2286000,
   315099],
  ['005930',
   datetime.datetime(2018, 2, 9, 0, 0),
   2222000,
   2259000,
   2221000,
   2235000,
   349300],
  ['005930',
   datetime.datetime(2018, 2, 8, 0, 0),
   2306000,
   2331000,
   2299000,
   2300000,
   465021],
  ['005930',
   datetime.datetime(2018, 2, 7, 0, 0),
   2412000,
   2413000,
   2290000,
   2290000,
   468961],
  ['005930',
   datetime.datetime(2018, 2, 6, 0, 0),
   2330000,
   2396000,
   2329000,
   2371000,
   388129],
  ['005930',
   datetime.datetime(2018, 2, 5, 0, 0),
   2325000,
   2416000,
   2300000,
   2396000,
   567158],
  ['005930',
   datetime.datetime(2018, 2, 2, 0, 0),
   2469000,
   2470000,
   2385000,
   2385000,
   585207],
  ['005930',
   datetime.datetime(2018, 2, 1, 0, 0),
   2531000,
   2548000,
   2486000,
   2491000,
   552189],
  ['005930',
   datetime.datetime(2018, 1, 31, 0, 0),
   2501000,
   2707000,
   2480000,
   2495000,
   1293626],
  ['005930',
   datetime.datetime(2018, 1, 30, 0, 0),
   2522000,
   2532000,
   2489000,
   2490000,
   245691],
  ['005930',
   datetime.datetime(2018, 1, 29, 0, 0),
   2560000,
   2574000,
   2545000,
   2561000,
   236776],
  ['005930',
   datetime.datetime(2018, 1, 26, 0, 0),
   2525000,
   2539000,
   2492000,
   2539000,
   207002],
  ['005930',
   datetime.datetime(2018, 1, 25, 0, 0),
   2461000,
   2518000,
   2458000,
   2513000,
   223207],
  ['005930',
   datetime.datetime(2018, 1, 24, 0, 0),
   2443000,
   2485000,
   2428000,
   2467000,
   191010],
  ['005930',
   datetime.datetime(2018, 1, 23, 0, 0),
   2433000,
   2458000,
   2415000,
   2458000,
   270654],
  ['005930',
   datetime.datetime(2018, 1, 22, 0, 0),
   2432000,
   2434000,
   2398000,
   2412000,
   250418],
  ['005930',
   datetime.datetime(2018, 1, 19, 0, 0),
   2519000,
   2519000,
   2452000,
   2466000,
   184399],
  ['005930',
   datetime.datetime(2018, 1, 18, 0, 0),
   2501000,
   2532000,
   2491000,
   2495000,
   296977]],
 [['005930',
   datetime.datetime(2018, 1, 17, 0, 0),
   2501000,
   2501000,
   2453000,
   2481000,
   221061],
  ['005930',
   datetime.datetime(2018, 1, 16, 0, 0),
   2438000,
   2507000,
   2431000,
   2500000,
   407793],
  ['005930',
   datetime.datetime(2018, 1, 15, 0, 0),
   2440000,
   2449000,
   2396000,
   2427000,
   201920],
  ['005930',
   datetime.datetime(2018, 1, 12, 0, 0),
   2412000,
   2424000,
   2338000,
   2410000,
   545409],
  ['005930',
   datetime.datetime(2018, 1, 11, 0, 0),
   2410000,
   2463000,
   2401000,
   2412000,
   502476],
  ['005930',
   datetime.datetime(2018, 1, 10, 0, 0),
   2525000,
   2526000,
   2432000,
   2442000,
   371336],
  ['005930',
   datetime.datetime(2018, 1, 9, 0, 0),
   2573000,
   2586000,
   2499000,
   2520000,
   360272],
  ['005930',
   datetime.datetime(2018, 1, 8, 0, 0),
   2620000,
   2626000,
   2575000,
   2601000,
   167673],
  ['005930',
   datetime.datetime(2018, 1, 5, 0, 0),
   2565000,
   2606000,
   2560000,
   2606000,
   189623],
  ['005930',
   datetime.datetime(2018, 1, 4, 0, 0),
   2606000,
   2609000,
   2532000,
   2554000,
   233909],
  ['005930',
   datetime.datetime(2018, 1, 3, 0, 0),
   2627000,
   2628000,
   2571000,
   2581000,
   200270],
  ['005930',
   datetime.datetime(2018, 1, 2, 0, 0),
   2569000,
   2570000,
   2539000,
   2551000,
   169485],
  ['005930',
   datetime.datetime(2017, 12, 28, 0, 0),
   2478000,
   2548000,
   2475000,
   2548000,
   179709],
  ['005930',
   datetime.datetime(2017, 12, 27, 0, 0),
   2448000,
   2478000,
   2423000,
   2468000,
   214872],
  ['005930',
   datetime.datetime(2017, 12, 26, 0, 0),
   2488000,
   2505000,
   2410000,
   2410000,
   320797],
  ['005930',
   datetime.datetime(2017, 12, 22, 0, 0),
   2470000,
   2498000,
   2462000,
   2485000,
   223993],
  ['005930',
   datetime.datetime(2017, 12, 21, 0, 0),
   2550000,
   2553000,
   2455000,
   2457000,
   312486],
  ['005930',
   datetime.datetime(2017, 12, 20, 0, 0),
   2575000,
   2588000,
   2541000,
   2544000,
   201611],
  ['005930',
   datetime.datetime(2017, 12, 19, 0, 0),
   2577000,
   2604000,
   2576000,
   2578000,
   239572],
  ['005930',
   datetime.datetime(2017, 12, 18, 0, 0),
   2531000,
   2562000,
   2531000,
   2560000,
   147005],
  ['005930',
   datetime.datetime(2017, 12, 15, 0, 0),
   2562000,
   2574000,
   2526000,
   2531000,
   298571],
  ['005930',
   datetime.datetime(2017, 12, 14, 0, 0),
   2566000,
   2614000,
   2553000,
   2553000,
   406208],
  ['005930',
   datetime.datetime(2017, 12, 13, 0, 0),
   2605000,
   2605000,
   2555000,
   2566000,
   226674],
  ['005930',
   datetime.datetime(2017, 12, 12, 0, 0),
   2591000,
   2605000,
   2583000,
   2605000,
   175301],
  ['005930',
   datetime.datetime(2017, 12, 11, 0, 0),
   2600000,
   2602000,
   2575000,
   2589000,
   162517],
  ['005930',
   datetime.datetime(2017, 12, 8, 0, 0),
   2568000,
   2600000,
   2552000,
   2600000,
   225809],
  ['005930',
   datetime.datetime(2017, 12, 7, 0, 0),
   2502000,
   2549000,
   2501000,
   2537000,
   221312],
  ['005930',
   datetime.datetime(2017, 12, 6, 0, 0),
   2563000,
   2578000,
   2501000,
   2501000,
   217784],
  ['005930',
   datetime.datetime(2017, 12, 5, 0, 0),
   2530000,
   2565000,
   2514000,
   2563000,
   186531],
  ['005930',
   datetime.datetime(2017, 12, 4, 0, 0),
   2542000,
   2567000,
   2501000,
   2567000,
   297301]],
 [['005930',
   datetime.datetime(2017, 12, 1, 0, 0),
   2540000,
   2589000,
   2540000,
   2542000,
   257372]]]

In [ ]:
# 인자: 회사명, 시작날짜, 마지막날짜, 에코모드

# 에코모드가 아닐경우
# 기간내의 데이터를 크롤해서 yield


# 에코모드일경우
# 원하는 기간 중 이미 DB에 데이터가있는 날짜를 제외한 
# 기간에대해서 크롤을 한다.

# 디비에 데이터가 있는지 없는지 확인한다.
#     있는 경우:
#         디비에서가장오래된날짜
#         디비에서가장최근날짜 들을 구한다.
#         
#     없는 경우:
# 에코모드시 작동

In [7]:
import pandas as pd


def add_target_item(dic, col_name):
    dic['target_'+col_name] = dic.get(col_name)
    return dic

def update_multiple(table_name, column, data_dict_list):
    """
    하나의 column에 대해서 조건을 줘서
    DB에 기존에 있던 데이터에 대해서 한 번에 Update 한다.
    """
    transaction = db._BaseDBAccessLayer__connection.begin() #self.__connection.begin()

    if(data_dict_list):
        try:
            table = db.find_table(table_name)
            if(table.c.has_key(column)):
                c = table.c.get(column)
                
                upd = table.update().\
                      where(c == bindparam('target_'+column))
                    
                added_data_dict_list = [add_target_item(dic, column) for dic in data_dict_list]
                #print("added_data_dict_list: ")
                #print(added_data_dict_list)
                result = db._BaseDBAccessLayer__connection.execute(upd, added_data_dict_list)
                transaction.commit()
                return True
                      
            else:
                print("{} table 에는 {} Column 이 없습니다".format(table_name, column))
                print("Let's RollBack")
                transaction.rollback()
                return False

        except IntegrityError as error:
            error_code, error_msg = error.orig.args

            print("IntegrityError!!")
            print(">>>error_code: {}".format(error_code))
            print(">>>error_msg: {}".format(error_msg))
            print("Let's RollBack")
            transaction.rollback()

            return False

    else:
        print("빈 dict입니다")
        transaction.rollback()
        print("Let's RollBack")
        return False

    
def check_intersection(t1_start, t1_end, t2_start, t2_end):
    return (t1_start <= t2_start <= t1_end) or (t2_start <= t1_start <= t2_end)


def toss_databomb_to_db(bigdata, update_mode=False):
    """
    """
    data_count = 0
    total_count = 0
    historical_data_list = []
    is_okay = True
    
    
    if(update_mode):
        # UPDATE
        for data in bigdata:
            # 이때 data는 2차원 list 다.
            # ex)
            #[['005930', datetime.datetime(2018, 2, 26, 0, 0),
            #  2364000, 2378000,
            #  2354000, 2369000,
            #  163980],
            # ['005930', datetime.datetime(2018, 2, 23, 0, 0),
            #  2338000, 2390000,
            #  2338000, 2361000,
            #  248466]]
            print(">>>toss 안")
            print("Data: ", data)
            data_count += len(data)
            print("Data_count: ", data_count)
            historical_data_list += [listdata_to_dict(oneday_info) for oneday_info in data]

            # 100도 나중에 상수로 바꿔야한다.
            if(data_count >= 100):
                total_count += data_count
                data_count = 0
                print("historical: ", historical_data_list)
                is_okay = update_multiple('hist_data', 'date', historical_data_list)
                historical_data_list = []

        total_count += data_count
        print("historical: ", historical_data_list)
        is_okay *= update_multiple('hist_data', 'date', historical_data_list)
    
    else:
        # INSERT
        for data in bigdata:
            data_count += len(data)
            historical_data_list += [listdata_to_dict(oneday_info) for oneday_info in data]

            if(data_count >= 100):
                total_count += data_count
                data_count = 0
                is_okay = db.insert_multiple('hist_data', historical_data_list)
                historical_data_list = []

        is_okay *= db.insert_multiple('hist_data', historical_data_list)
        total_count += data_count
    
    return is_okay, total_count

# case1: 현재 DB는 비었고, 전체기간[과거부터~오늘(최신날짜)] 주가 정보를 가져와서 DB에 저장한다.
#     -> 새 환경에서 첫번째로 수행될 작업
# case2: 현재 DB는 비었고, 특정기간[start_date, end_date] 주가 정보를 가져와서 DB에 저장한다.
# case3: 현재 DB에는 데이터가 있는 상황, 추가된 데이터(db속최신날짜 이후 ~ 크롤시점) 를 가져와서 DB에 저장하는 경우
#     -> case1후 매일 크롤러가 수행할 작업 
# case4: 현재 DB에는 데이터가 있는 상황, 수정주가로 UPDATE해야되는 상황
#     -> 배당, 액면분할 등 의 event로 인해 주가가 update되어야 할 경우 가끔식 수행

# save 경우
# HARD 모드인지 ,DB에 데이터가 있는지 조건확인
# 1. 해당 기간의 데이터가 DB에 있는지 없는지 상관없이 원하는 기간내의 데이터를 새로 크롤해와서 DB에 저장하는경우(UPDATE, INSERT 둘 다)
#  case4
#  - DB에 있는 날짜의 데이터의 경우에는 가격정보를 UPDATE
#        - DB에 데이터가 있는지 확인, 교집합이 있는지 확인
#        - 날짜 교집합을 만들어서 start, end date를 정한다.
#        - 크롤한다.
#        - UPDATE 한다.
#  - DB에 없는 날짜의 데이터의 경우에는 가격정보를 INSERT
#        - DB에 없는 기간 인덱스를 만든다.
#        - start, end date를 정한다.
#        - 크롤한다.
#        - INSERT 한다.
#  - DB에 없는 기간을 선택하기 위해서 만드는 index가 여러개일 수 있다. base_crwaler_method 여러번 돌려야 할 수 있다.

# 2. 해당 기간의 데이터가 있을 경우 그 기간은 제외하고 DB에 없는 기간의 데이터만 크롤해서 DB에 저장한다.(INSERT만 일어남)
#    case1, case2, case3
#  - DB에 없는 기간을 선택하기 위해서 만드는 index가 여러개일 수 있다. base_crwaler_method 여러번 돌려야 할 수 있다.
#  - 날짜의 교집합을 제외한 날짜 index을 만든다. start, end date 를 정한다.
#  - 크롤한다.
#  - INSERT 한다.
def save_history_of(company_name, start_date=datetime.datetime.min,
                    end_date=datetime.datetime.today,
                    hard_mode=True):
    """
    """
    total_count = 0
    update_count = 0
    insert_count = 0
    update_only = False
    
    # start_date, end_date 필터링 및 초기값 설정
    if(type(start_date)== str):
        start_date = datetime.datetime.strptime(start_date, "%Y-%m-%d")
    if(type(end_date) == str):
        end_date = datetime.datetime.strptime(end_date, "%Y-%m-%d")
    else:
        end_date = end_date()

        
    table = db.find_table('hist_data') # 클래스에서 바꿔야함. 
    
    oldest_date_indb_query = select([table.c.get('date')]).order_by(table.c.date).limit(1)
    lastest_date_indb_query = select([table.c.get('date')]).order_by(desc(table.c.date)).limit(1)
    
    oldest_rp = db.db_execute(oldest_date_indb_query)
    lastest_rp = db.db_execute(lastest_date_indb_query)
    
    # DB에 데이터가 있을 때 hard_mode여 부에 따라서 UPDATE 와 INSERT
    if(oldest_rp.rowcount):
        # lastest_indb = db에 저장된 데이터중 가장 최근 날짜의 datetime을 가져온다.
        # oldest_date_indb = db에 저장된 데이터중 가장 오래된 날짜의 datetime을 가져온다.
        oldest_date_indb = oldest_rp.first()[0]
        lastest_date_indb = lastest_rp.first()[0]

        # 두 기간의 intersection이 있는지 확인한다.
        if(check_intersection(oldest_date_indb, lastest_date_indb, start_date, end_date)):
            # 두 기간에대해서 time interval list(datetime)를 만든다.
            db_time_interval= set(map(pd.Timestamp.to_pydatetime, pd.date_range(oldest_date_indb, lastest_date_indb).tolist()))
            request_time_interval= set(map(pd.Timestamp.to_pydatetime, pd.date_range(start_date, end_date).tolist()))

            # db 데이터의 interval과 원하는 interval의 교집합을 구한다.
            intersection = db_time_interval & request_time_interval
            intersection_as_list = list(intersection)
            intersection_as_list.sort()
            intersection_start_date = intersection_as_list[0]
            intersection_end_date = intersection_as_list[-1]

            # intersection 구간에서는 hard_mode인 경우는 UPDATE
            # hard_mode가 아닌 경우는 pass
            if(hard_mode):
                print("요기요")
                print("inter_start: ", intersection_start_date)
                print("inter_end:   ", intersection_end_date)
                data_bomb = base_crawl_method_for_history(company_name, intersection_start_date.strftime("%Y-%m-%d")
                                                          , intersection_end_date.strftime("%Y-%m-%d"))
                
                update_okay, update_count = toss_databomb_to_db(data_bomb, update_mode=True)
                if(update_okay):
                    print(f"{start_date} ~ {end_date} 기간의 ")
                    print(f"데이터가 크롤 및 UPDATE 되었습니다. UPDATE COUNT: {update_count} ")
                else:
                    print("intersection 데이터에 대해서 UPDATE가 정상적으로 이루어 지지 않음")
            else:
                pass

            
            # unique 기간에대해서는 INSERT
            
            unique_req = request_time_interval - intersection
            unique_db = db_time_interval - intersection
            unique_req_as_list = list(unique_req)
            unique_req_as_list.sort()
            
            if(len(unique_req) == 0):
                # 이미 intersection 에서 처리됨. 그러므로 pass함.
                # case1: DB기간안에 start~end가 포함되는 경우
                # case1: DB기간과 start-end가 같은경우
                if(hard_mode==False):
                    print("hard_mode 설정이 False 이고")
                    print("요청하신 기간의 데이터는 이미 DB에 있으니")
                    print("아무런 작업이 일어나지 않습니다.")
                    return True
                else:
                    print("update_only")
                    update_only = True
                insert_okay = False
                pass
            elif((len(unique_req) > 0) and (start_date < oldest_date_indb) and (lastest_date_indb < end_date) \
                 and (len(unique_db) == 0) ):
                # start_date~end_date 가 DB기간을 포함하면서 더 넓은 경우, 최대 양쪽 끝 두 범위가 나올 수 있음.
                # 이런 경우는 드물 것이라고 예상.
                # 양쪽 다 나온 경우 : 왼쪽, 오른쪽 unique 범위에대해서 처리.
                print("unique_req")
                print(unique_req)
                print("unique_db")
                print(unique_db)
                left_side = [date for date in unique_req_as_list if date < intersection_start_date]
                left_side_start = left_side[0]
                left_side_end = left_side[-1]

                data_bomb = base_crawl_method_for_history(company_name, left_start_date.strftime("%Y-%m-%d")
                                                          , left_end_date.strftime("%Y-%m-%d"))
                left_okay, left_count = toss_databomb_to_db(data_bomb, update_mode=False)
                if(left_okay):
                    print(f"{left_start_date} ~ {left_end_date} 기간의 ")
                    print(f"데이터가 크롤 및 INSERT 되었습니다. INSERT COUNT: {left_count} ")
                else:
                    print(f"{left_start_date} ~ {left_end_date} 기간의 ")
                    print(f"데이터가 정상적으로 크롤 및 INSERT 되지 않았습니다. INSERT COUNT: {left_count} ")
                right_side = [ date for date in unique_req_as_list if date > intersection_end_date ]
                right_side_start = right_side[0]
                right_side_end = right_side[-1]

                data_bomb = base_crawl_method_for_history(company_name, right_start_date.strftime("%Y-%m-%d")
                                                          ,right_end_date.strftime("%Y-%m-%d"))
                right_okay, right_count = toss_databomb_to_db(data_bomb, update_mode=False)
                if(right_okay):
                    print(f"{right_start_date} ~ {right_end_date} 기간의 ")
                    print(f"데이터가 크롤 및 INSERT 되었습니다. INSERT COUNT: {right_count} ")
                else:
                    print(f"{right_start_date} ~ {right_end_date} 기간의 ")
                    print(f"데이터가 정상적으로 크롤 및 INSERT 되지 않았습니다. INSERT COUNT: {right_count} ")
                
                insert_okay = left_okay * right_okay
                insert_count = left_count + right_count
                
            else:
                # 
                # 왼쪽 또는 오른쪽만 나온 경우
                unique_req_start_date = unique_req_as_list[0]
                unique_req_end_date = unique_req_as_list[-1]

                data_bomb = base_crawl_method_for_history(company_name, unique_req_start_date.strftime("%Y-%m-%d")
                                                          ,unique_req_end_date.strftime("%Y-%m-%d"))
                insert_okay, insert_count = toss_databomb_to_db(data_bomb, update_mode=False)
                if(insert_okay):
                    print(f"{unique_req_start_date} ~ {unique_req_end_date} 기간의 ")
                    print(f"데이터가 크롤 및 INSERT 되었습니다. INSERT COUNT: {insert_count} ")
                else:
                    print(f"{unique_req_start_date} ~ {unique_req_end_date} 기간의 ")
                    print(f"데이터가 정상적으로 크롤 및 INSERT 되지 않았습니다. INSERT COUNT: {insert_count} ")
            
            
        # 두 기간의 intersection이 없을 때
        else:
            # start_date~end_date기간의 데이터에 대해서 INSERT만 일어나면된다.
            data_bomb = base_crawl_method_for_history(company_name, start_date.strftime("%Y-%m-%d")
                                                      , end_date.strftime("%Y-%m-%d"))
            insert_okay, insert_count = toss_databomb_to_db(data_bomb, update_mode=False)
            if(insert_okay):
                print("DB기간과 겹치는 기간이 없었습니다.")
                print(f"{start_date} ~ {end_date} 기간의 ")
                print(f"데이터가 크롤 및 저장 되었습니다 INSERT COUNT: {insert_count}")
            else:
                print("DB기간과 겹치는 기간이 없었습니다.")
                print("하지만")
                print(f"{start_date} ~ {end_date} 기간의 ")
                print("데이터가 정상적으로 INSERT가 이루어 지지 않았습니다.")
        
        # INSERT 마무리
        if(insert_okay and not update_only):
            print(f"총 {insert_count}개의 데이터가 크롤 및 INSERT 되었습니다. INSERT COUNT: {insert_count} ")
            return True
        elif(update_only):
            return True
        else:
            return False

    
    # DB에 데이터가 없을때 start_date~end_date에 대해서 INSERT
    else:
        # DB에 데이터가 없을 때는 
        # 
        # hard_mode인지 아닌지가 필요 없다. 
        data_bomb = base_crawl_method_for_history(company_name, start_date.strftime("%Y-%m-%d")
                                                  , end_date.strftime("%Y-%m-%d"))
        insert_okay, insert_count = toss_databomb_to_db(data_bomb, update_mode=False)
        
        if(insert_okay):
            print("DB에 데이터가 아무것도 없습니다.")
            print(f"{start_date} ~ {end_date} 기간의 ")
            print(f"INSERT COUNT: {insert_count} 데이터가 크롤 및 저장 되었습니다.")
            return True
        else:
            print("DB에 데이터가 아무것도 없습니다.")
            print("하지만")
            print(f"{start_date} ~ {end_date} 기간의 ")
            print("데이터가 정상적으로 INSERT가 이루어 지지 않았습니다.")
            return False

In [9]:
db.find_stock_code('삼성전자')

'005930'

In [45]:
save_history_of('삼성전자', "2018-2-20", "2018-2-27", hard_mode=False)

[['005930',
  datetime.datetime(2018, 2, 27, 0, 0),
  2418000,
  2419000,
  2369000,
  2369000,
  188292]]
2018-02-27 00:00:00 ~ 2018-02-27 00:00:00 기간의
데이터가 크롤 및 INSERT 되었습니다. INSERT COUNT: 1
총 1개의 데이터가 크롤 및 INSERT 되었습니다. UPDATE COUNT: 0

True

In [65]:
save_history_of('삼성전자', "2018-2-20", "2018-2-27", hard_mode=False)

hard_mode 설정이 False 이고
요청하신 기간의 데이터는 이미 DB에 있으니
아무런 작업이 일어나지 않습니다.

True

In [66]:
save_history_of('삼성전자', "2018-2-20", "2018-2-27", hard_mode=True)

2018-02-20 00:00:00 ~ 2018-02-27 00:00:00 기간의
데이터가 크롤 및 UPDATE 되었습니다. UPDATE COUNT: 6

True

In [69]:
save_history_of('삼성전자', "1999-12-20", "2000-1-10", hard_mode=False)

--------99년 발견------------
DB기간과 겹치는 기간이 없었습니다.
1999-12-20 00:00:00 ~ 2000-01-10 00:00:00 기간의
데이터가 크롤 및 저장 되었습니다 INSERT COUNT: 12
총 12개의 데이터가 크롤 및 INSERT 되었습니다. INSERT COUNT: 12

True

In [82]:
save_history_of('삼성전자', "1999-12-20", "2000-1-29", hard_mode=True)

--------99년 발견------------
1999-12-20 00:00:00 ~ 2000-01-29 00:00:00 기간의
데이터가 크롤 및 UPDATE 되었습니다. UPDATE COUNT: 26

True

In [9]:
save_history_of('삼성전자', "2000-1-5", "2000-1-29", hard_mode=True)

요기요
inter_start:  2000-01-05 00:00:00
inter_end:    2000-01-29 00:00:00
[['005930',
  datetime.datetime(2000, 1, 28, 0, 0),
  282000,
  294000,
  277000,
  291000,
  766398],
 ['005930',
  datetime.datetime(2000, 1, 27, 0, 0),
  274000,
  281000,
  271500,
  276000,
  558083],
 ['005930',
  datetime.datetime(2000, 1, 26, 0, 0),
  275000,
  276000,
  270500,
  274000,
  585734],
 ['005930',
  datetime.datetime(2000, 1, 25, 0, 0),
  276000,
  282000,
  272000,
  272000,
  885067],
 ['005930',
  datetime.datetime(2000, 1, 24, 0, 0),
  290000,
  295000,
  285000,
  285000,
  687183],
 ['005930',
  datetime.datetime(2000, 1, 21, 0, 0),
  297500,
  299000,
  294000,
  294000,
  650728],
 ['005930',
  datetime.datetime(2000, 1, 20, 0, 0),
  293000,
  302000,
  291000,
  302000,
  746360],
 ['005930',
  datetime.datetime(2000, 1, 19, 0, 0),
  300000,
  302000,
  298000,
  298000,
  804159],
 ['005930',
  datetime.datetime(2000, 1, 18, 0, 0),
  308000,
  308000,
  299000,
  305000,
  905231],
 ['005930',
  datetime.datetime(2000, 1, 17, 0, 0),
  300000,
  309000,
  296000,
  305000,
  1270138],
 ['005930',
  datetime.datetime(2000, 1, 14, 0, 0),
  286000,
  294000,
  284000,
  291500,
  987576],
 ['005930',
  datetime.datetime(2000, 1, 13, 0, 0),
  280000,
  287000,
  278000,
  285500,
  823830],
 ['005930',
  datetime.datetime(2000, 1, 12, 0, 0),
  280500,
  287000,
  280000,
  286000,
  584492],
 ['005930',
  datetime.datetime(2000, 1, 11, 0, 0),
  291000,
  305000,
  288500,
  288500,
  1194974],
 ['005930',
  datetime.datetime(2000, 1, 10, 0, 0),
  280000,
  288500,
  279000,
  288500,
  937615]]
>>>toss 안
Data:  [['005930', datetime.datetime(2000, 1, 28, 0, 0), 282000, 294000, 277000, 291000, 766398], ['005930', datetime.datetime(2000, 1, 27, 0, 0), 274000, 281000, 271500, 276000, 558083], ['005930', datetime.datetime(2000, 1, 26, 0, 0), 275000, 276000, 270500, 274000, 585734], ['005930', datetime.datetime(2000, 1, 25, 0, 0), 276000, 282000, 272000, 272000, 885067], ['005930', datetime.datetime(2000, 1, 24, 0, 0), 290000, 295000, 285000, 285000, 687183], ['005930', datetime.datetime(2000, 1, 21, 0, 0), 297500, 299000, 294000, 294000, 650728], ['005930', datetime.datetime(2000, 1, 20, 0, 0), 293000, 302000, 291000, 302000, 746360], ['005930', datetime.datetime(2000, 1, 19, 0, 0), 300000, 302000, 298000, 298000, 804159], ['005930', datetime.datetime(2000, 1, 18, 0, 0), 308000, 308000, 299000, 305000, 905231], ['005930', datetime.datetime(2000, 1, 17, 0, 0), 300000, 309000, 296000, 305000, 1270138], ['005930', datetime.datetime(2000, 1, 14, 0, 0), 286000, 294000, 284000, 291500, 987576], ['005930', datetime.datetime(2000, 1, 13, 0, 0), 280000, 287000, 278000, 285500, 823830], ['005930', datetime.datetime(2000, 1, 12, 0, 0), 280500, 287000, 280000, 286000, 584492], ['005930', datetime.datetime(2000, 1, 11, 0, 0), 291000, 305000, 288500, 288500, 1194974], ['005930', datetime.datetime(2000, 1, 10, 0, 0), 280000, 288500, 279000, 288500, 937615]]
Data_count:  15
--------99년 발견------------
[['005930',
  datetime.datetime(2000, 1, 7, 0, 0),
  278000,
  283500,
  268000,
  277000,
  806195],
 ['005930',
  datetime.datetime(2000, 1, 6, 0, 0),
  287500,
  289000,
  279000,
  281000,
  1087810],
 ['005930',
  datetime.datetime(2000, 1, 5, 0, 0),
  290000,
  303000,
  276000,
  279000,
  1493604]]
>>>toss 안
Data:  [['005930', datetime.datetime(2000, 1, 7, 0, 0), 278000, 283500, 268000, 277000, 806195], ['005930', datetime.datetime(2000, 1, 6, 0, 0), 287500, 289000, 279000, 281000, 1087810], ['005930', datetime.datetime(2000, 1, 5, 0, 0), 290000, 303000, 276000, 279000, 1493604]]
Data_count:  18
historical:  [{'code': '005930', 'date': datetime.datetime(2000, 1, 28, 0, 0), 'open': 282000, 'high': 294000, 'low': 277000, 'close': 291000, 'volume': 766398}, {'code': '005930', 'date': datetime.datetime(2000, 1, 27, 0, 0), 'open': 274000, 'high': 281000, 'low': 271500, 'close': 276000, 'volume': 558083}, {'code': '005930', 'date': datetime.datetime(2000, 1, 26, 0, 0), 'open': 275000, 'high': 276000, 'low': 270500, 'close': 274000, 'volume': 585734}, {'code': '005930', 'date': datetime.datetime(2000, 1, 25, 0, 0), 'open': 276000, 'high': 282000, 'low': 272000, 'close': 272000, 'volume': 885067}, {'code': '005930', 'date': datetime.datetime(2000, 1, 24, 0, 0), 'open': 290000, 'high': 295000, 'low': 285000, 'close': 285000, 'volume': 687183}, {'code': '005930', 'date': datetime.datetime(2000, 1, 21, 0, 0), 'open': 297500, 'high': 299000, 'low': 294000, 'close': 294000, 'volume': 650728}, {'code': '005930', 'date': datetime.datetime(2000, 1, 20, 0, 0), 'open': 293000, 'high': 302000, 'low': 291000, 'close': 302000, 'volume': 746360}, {'code': '005930', 'date': datetime.datetime(2000, 1, 19, 0, 0), 'open': 300000, 'high': 302000, 'low': 298000, 'close': 298000, 'volume': 804159}, {'code': '005930', 'date': datetime.datetime(2000, 1, 18, 0, 0), 'open': 308000, 'high': 308000, 'low': 299000, 'close': 305000, 'volume': 905231}, {'code': '005930', 'date': datetime.datetime(2000, 1, 17, 0, 0), 'open': 300000, 'high': 309000, 'low': 296000, 'close': 305000, 'volume': 1270138}, {'code': '005930', 'date': datetime.datetime(2000, 1, 14, 0, 0), 'open': 286000, 'high': 294000, 'low': 284000, 'close': 291500, 'volume': 987576}, {'code': '005930', 'date': datetime.datetime(2000, 1, 13, 0, 0), 'open': 280000, 'high': 287000, 'low': 278000, 'close': 285500, 'volume': 823830}, {'code': '005930', 'date': datetime.datetime(2000, 1, 12, 0, 0), 'open': 280500, 'high': 287000, 'low': 280000, 'close': 286000, 'volume': 584492}, {'code': '005930', 'date': datetime.datetime(2000, 1, 11, 0, 0), 'open': 291000, 'high': 305000, 'low': 288500, 'close': 288500, 'volume': 1194974}, {'code': '005930', 'date': datetime.datetime(2000, 1, 10, 0, 0), 'open': 280000, 'high': 288500, 'low': 279000, 'close': 288500, 'volume': 937615}, {'code': '005930', 'date': datetime.datetime(2000, 1, 7, 0, 0), 'open': 278000, 'high': 283500, 'low': 268000, 'close': 277000, 'volume': 806195}, {'code': '005930', 'date': datetime.datetime(2000, 1, 6, 0, 0), 'open': 287500, 'high': 289000, 'low': 279000, 'close': 281000, 'volume': 1087810}, {'code': '005930', 'date': datetime.datetime(2000, 1, 5, 0, 0), 'open': 290000, 'high': 303000, 'low': 276000, 'close': 279000, 'volume': 1493604}]
added_data_dict_list:
[{'code': '005930', 'date': datetime.datetime(2000, 1, 28, 0, 0), 'open': 282000, 'high': 294000, 'low': 277000, 'close': 291000, 'volume': 766398, 'target_date': datetime.datetime(2000, 1, 28, 0, 0)}, {'code': '005930', 'date': datetime.datetime(2000, 1, 27, 0, 0), 'open': 274000, 'high': 281000, 'low': 271500, 'close': 276000, 'volume': 558083, 'target_date': datetime.datetime(2000, 1, 27, 0, 0)}, {'code': '005930', 'date': datetime.datetime(2000, 1, 26, 0, 0), 'open': 275000, 'high': 276000, 'low': 270500, 'close': 274000, 'volume': 585734, 'target_date': datetime.datetime(2000, 1, 26, 0, 0)}, {'code': '005930', 'date': datetime.datetime(2000, 1, 25, 0, 0), 'open': 276000, 'high': 282000, 'low': 272000, 'close': 272000, 'volume': 885067, 'target_date': datetime.datetime(2000, 1, 25, 0, 0)}, {'code': '005930', 'date': datetime.datetime(2000, 1, 24, 0, 0), 'open': 290000, 'high': 295000, 'low': 285000, 'close': 285000, 'volume': 687183, 'target_date': datetime.datetime(2000, 1, 24, 0, 0)}, {'code': '005930', 'date': datetime.datetime(2000, 1, 21, 0, 0), 'open': 297500, 'high': 299000, 'low': 294000, 'close': 294000, 'volume': 650728, 'target_date': datetime.datetime(2000, 1, 21, 0, 0)}, {'code': '005930', 'date': datetime.datetime(2000, 1, 20, 0, 0), 'open': 293000, 'high': 302000, 'low': 291000, 'close': 302000, 'volume': 746360, 'target_date': datetime.datetime(2000, 1, 20, 0, 0)}, {'code': '005930', 'date': datetime.datetime(2000, 1, 19, 0, 0), 'open': 300000, 'high': 302000, 'low': 298000, 'close': 298000, 'volume': 804159, 'target_date': datetime.datetime(2000, 1, 19, 0, 0)}, {'code': '005930', 'date': datetime.datetime(2000, 1, 18, 0, 0), 'open': 308000, 'high': 308000, 'low': 299000, 'close': 305000, 'volume': 905231, 'target_date': datetime.datetime(2000, 1, 18, 0, 0)}, {'code': '005930', 'date': datetime.datetime(2000, 1, 17, 0, 0), 'open': 300000, 'high': 309000, 'low': 296000, 'close': 305000, 'volume': 1270138, 'target_date': datetime.datetime(2000, 1, 17, 0, 0)}, {'code': '005930', 'date': datetime.datetime(2000, 1, 14, 0, 0), 'open': 286000, 'high': 294000, 'low': 284000, 'close': 291500, 'volume': 987576, 'target_date': datetime.datetime(2000, 1, 14, 0, 0)}, {'code': '005930', 'date': datetime.datetime(2000, 1, 13, 0, 0), 'open': 280000, 'high': 287000, 'low': 278000, 'close': 285500, 'volume': 823830, 'target_date': datetime.datetime(2000, 1, 13, 0, 0)}, {'code': '005930', 'date': datetime.datetime(2000, 1, 12, 0, 0), 'open': 280500, 'high': 287000, 'low': 280000, 'close': 286000, 'volume': 584492, 'target_date': datetime.datetime(2000, 1, 12, 0, 0)}, {'code': '005930', 'date': datetime.datetime(2000, 1, 11, 0, 0), 'open': 291000, 'high': 305000, 'low': 288500, 'close': 288500, 'volume': 1194974, 'target_date': datetime.datetime(2000, 1, 11, 0, 0)}, {'code': '005930', 'date': datetime.datetime(2000, 1, 10, 0, 0), 'open': 280000, 'high': 288500, 'low': 279000, 'close': 288500, 'volume': 937615, 'target_date': datetime.datetime(2000, 1, 10, 0, 0)}, {'code': '005930', 'date': datetime.datetime(2000, 1, 7, 0, 0), 'open': 278000, 'high': 283500, 'low': 268000, 'close': 277000, 'volume': 806195, 'target_date': datetime.datetime(2000, 1, 7, 0, 0)}, {'code': '005930', 'date': datetime.datetime(2000, 1, 6, 0, 0), 'open': 287500, 'high': 289000, 'low': 279000, 'close': 281000, 'volume': 1087810, 'target_date': datetime.datetime(2000, 1, 6, 0, 0)}, {'code': '005930', 'date': datetime.datetime(2000, 1, 5, 0, 0), 'open': 290000, 'high': 303000, 'low': 276000, 'close': 279000, 'volume': 1493604, 'target_date': datetime.datetime(2000, 1, 5, 0, 0)}]
2000-01-05 00:00:00 ~ 2000-01-29 00:00:00 기간의
데이터가 크롤 및 UPDATE 되었습니다. UPDATE COUNT: 18
update_only

True

In [10]:
YEAR_CHANGED

False

In [34]:
s = datetime.datetime.strptime("2018-2-1", "%Y-%m-%d")
e = datetime.datetime.strptime("2018-2-26", "%Y-%m-%d")

old = datetime.datetime.strptime("2018-2-10", "%Y-%m-%d")
latest = datetime.datetime.strptime("2018-2-15", "%Y-%m-%d")

In [39]:
s.strftime("%Y-%m-%d")

'2018-02-01'

In [37]:
type(datetime.datetime)

type

In [36]:
type(s) == datetime.datetime

True

In [94]:
db_time_interval= set(map(pd.Timestamp.to_pydatetime, pd.date_range(old, latest).tolist()))
request_time_interval= set(map(pd.Timestamp.to_pydatetime, pd.date_range(s, e).tolist()))

# db 데이터의 interval과 원하는 interval의 교집합을 구한다.
intersection = db_time_interval & request_time_interval
intersection_as_list = list(intersection)
intersection_as_list.sort()
intersection_start_date = intersection_as_list[0]
intersection_end_date = intersection_as_list[-1]

In [95]:
intersection_start_date

datetime.datetime(2018, 2, 10, 0, 0)

In [96]:
intersection_end_date

datetime.datetime(2018, 2, 15, 0, 0)

In [97]:
# unique 기간에대해서는 INSERT
unique_req = request_time_interval - intersection
unique_db = db_time_interval - intersection

In [98]:
len(unique_db)

0

In [99]:
len(unique_req)

20

In [103]:
unique_req_as_list = list(unique_req)
unique_req_as_list.sort()

In [105]:
[ date for date in unique_req_as_list if date < intersection_start_date ]

[datetime.datetime(2018, 2, 1, 0, 0),
 datetime.datetime(2018, 2, 2, 0, 0),
 datetime.datetime(2018, 2, 3, 0, 0),
 datetime.datetime(2018, 2, 4, 0, 0),
 datetime.datetime(2018, 2, 5, 0, 0),
 datetime.datetime(2018, 2, 6, 0, 0),
 datetime.datetime(2018, 2, 7, 0, 0),
 datetime.datetime(2018, 2, 8, 0, 0),
 datetime.datetime(2018, 2, 9, 0, 0)]

In [104]:
[ date for date in unique_req_as_list if date < intersection_start_date ]

[datetime.datetime(2018, 2, 1, 0, 0),
 datetime.datetime(2018, 2, 2, 0, 0),
 datetime.datetime(2018, 2, 3, 0, 0),
 datetime.datetime(2018, 2, 4, 0, 0),
 datetime.datetime(2018, 2, 5, 0, 0),
 datetime.datetime(2018, 2, 6, 0, 0),
 datetime.datetime(2018, 2, 7, 0, 0),
 datetime.datetime(2018, 2, 8, 0, 0),
 datetime.datetime(2018, 2, 9, 0, 0),
 datetime.datetime(2018, 2, 16, 0, 0),
 datetime.datetime(2018, 2, 17, 0, 0),
 datetime.datetime(2018, 2, 18, 0, 0),
 datetime.datetime(2018, 2, 19, 0, 0),
 datetime.datetime(2018, 2, 20, 0, 0),
 datetime.datetime(2018, 2, 21, 0, 0),
 datetime.datetime(2018, 2, 22, 0, 0),
 datetime.datetime(2018, 2, 23, 0, 0),
 datetime.datetime(2018, 2, 24, 0, 0),
 datetime.datetime(2018, 2, 25, 0, 0),
 datetime.datetime(2018, 2, 26, 0, 0)]

In [23]:
def add_target_item(dic, col_name):
    dic['target_'+col_name] = dic.get(col_name)
    return dic

def update_multiple(table_name, column, data_dict_list):
    """
    하나의 column에 대해서 조건을 줘서
    DB에 기존에 있던 데이터에 대해서 한 번에 Update 한다.
    """
    transaction = db._BaseDBAccessLayer__connection.begin() #self.__connection.begin()

    if(data_dict_list):
        try:
            table = db.find_table(table_name)
            if(table.c.has_key(column)):
                c = table.c.get(column)
                
                upd = table.update().\
                      where(c == bindparam('target_'+column))
                    
                added_data_dict_list = [add_target_item(dic, column) for dic in data_dict_list]
                result = db._BaseDBAccessLayer__connection.execute(upd, added_data_dict_list)
                transaction.commit()
                return True
                      
            else:
                print("{} table 에는 {} Column 이 없습니다".format(table_name, column))
                print("Let's RollBack")
                transaction.rollback()
                return False

        except IntegrityError as error:
            error_code, error_msg = error.orig.args

            print("IntegrityError!!")
            print(">>>error_code: {}".format(error_code))
            print(">>>error_msg: {}".format(error_msg))
            print("Let's RollBack")
            transaction.rollback()

            return False

    else:
        print("빈 dict입니다")
        transaction.rollback()
        print("Let's RollBack")
        return False

In [ ]:
>>> stmt = users.update().\
...             where(users.c.name == bindparam('oldname')).\
...             values(name=bindparam('newname'))
>>> conn.execute(stmt, [
...     {'oldname':'jack', 'newname':'ed'},
...     {'oldname':'wendy', 'newname':'mary'},
...     {'oldname':'jim', 'newname':'jake'},
...     ])

In [ ]:
UPDATE users SET name=? WHERE users.name = ?
(('ed', 'jack'), ('mary', 'wendy'), ('jake', 'jim'))
COMMIT

In [16]:
table = db.find_table('hist_data')
c = table.c.get('date')

In [17]:
from sqlalchemy import and_

In [18]:
upd = table.update().\
      where(c == bindparam('target_date')).\
      values(date= bindparam('date'))

In [19]:
t = datetime.datetime.strptime("2018-2-20", "%Y-%m-%d")
t2 = datetime.datetime.strptime("2018-2-21", "%Y-%m-%d")

In [20]:
d = [{'target_date':t, 'date':t, 'open':5, 'high':5, 'low':5, 'close':5, 'volume':5 },
     {'target_date':t2, 'date':t2, 'open':5, 'high':5, 'low':5, 'close':5, 'volume':5 }
    ]

In [27]:
d = [{'date':t, 'open':3, 'high':2, 'low':3, 'close':4, 'volume':5 },
     {'date':t2, 'open':3, 'high':2, 'low':3, 'close':4, 'volume':5 }
    ]

In [21]:
from sqlalchemy.exc import IntegrityError

In [28]:
update_multiple('hist_data', 'date', d)

True

In [473]:
d

[{'close': 4,
  'date': datetime.datetime(2018, 2, 22, 0, 0),
  'high': 2,
  'low': 3,
  'open': 3,
  'target_date': datetime.datetime(2018, 2, 22, 0, 0),
  'volume': 5},
 {'close': 4,
  'date': datetime.datetime(2018, 2, 23, 0, 0),
  'high': 2,
  'low': 3,
  'open': 3,
  'target_date': datetime.datetime(2018, 2, 23, 0, 0),
  'volume': 5}]

In [31]:
t = db._BaseDBAccessLayer__connection.execute(upd, d)

In [32]:
t.rowcount

2

In [504]:
t.close()

In [479]:
b = db._BaseDBAccessLayer__connection.begin()
e = b.commit()

In [29]:
b

NameError: name 'b' is not defined

In [ ]:
datelist = pd.date_range(pd.datetime.today(), periods=100).tolist()

In [297]:
db.find_stock_code('삼성전자')

'005930'

In [298]:
crawl_from_a_to_b('삼성전자', "1999-12-24", "2000-1-5")

page num: 1
page num: 2
page num: 3
page num: 4
page num: 5
page num: 6
page num: 7
page num: 8
page num: 9
page num: 10
page num: 11
page num: 12
page num: 13
page num: 14
page num: 15
page num: 16
page num: 17
page num: 18
page num: 19
page num: 20
page num: 21
page num: 22
page num: 23
page num: 24
page num: 25
page num: 26
page num: 27
page num: 28
page num: 29
page num: 30
page num: 31
page num: 32
page num: 33
page num: 34
page num: 35
page num: 36
page num: 37
page num: 38
page num: 39
page num: 40
page num: 41
page num: 42
page num: 43
page num: 44
page num: 45
page num: 46
page num: 47
page num: 48
page num: 49
page num: 50
page num: 51
page num: 52
page num: 53
page num: 54
page num: 55
page num: 56
page num: 57
page num: 58
page num: 59
page num: 60
page num: 61
page num: 62
page num: 63
page num: 64
page num: 65
page num: 66
page num: 67
page num: 68
page num: 69
page num: 70
page num: 71
page num: 72
page num: 73
page num: 74
page num: 75
page num: 76
page num: 77
page num: 78
page num: 79
page num: 80
page num: 81
page num: 82
page num: 83
page num: 84
page num: 85
page num: 86
page num: 87
page num: 88
page num: 89
page num: 90
page num: 91
page num: 92
page num: 93
page num: 94
page num: 95
page num: 96
page num: 97
page num: 98
page num: 99
page num: 100
page num: 101
page num: 102
page num: 103
page num: 104
page num: 105
page num: 106
page num: 107
page num: 108
page num: 109
page num: 110
page num: 111
page num: 112
page num: 113
page num: 114
page num: 115
page num: 116
page num: 117
page num: 118
page num: 119
page num: 120
page num: 121
page num: 122
page num: 123
page num: 124
page num: 125
page num: 126
page num: 127
page num: 128
page num: 129
page num: 130
page num: 131
page num: 132
page num: 133
page num: 134
page num: 135
page num: 136
page num: 137
page num: 138
page num: 139
page num: 140
page num: 141
page num: 142
page num: 143
page num: 144
page num: 145
[[datetime.datetime(2000, 1, 5, 0, 0), 290000, 303000, 276000, 279000, 1493604],
 [datetime.datetime(2000, 1, 4, 0, 0), 300000, 305500, 283000, 305500, 1483967],
 [datetime.datetime(1999, 12, 28, 0, 0),
  260000,
  278000,
  252500,
  266000,
  1481697],
 [datetime.datetime(1999, 12, 27, 0, 0),
  273000,
  274500,
  257000,
  261000,
  934057],
 [datetime.datetime(1999, 12, 24, 0, 0),
  285000,
  286000,
  268000,
  273000,
  708446]]
True
2

In [ ]:
req = requests.get(f'http://finance.daum.net/item/quote_yyyymmdd_sub.daum?page=005930&code=090430&modify=1')
html = req.text
soup = BeautifulSoup(html, 'html.parser')
d = len(soup.find_all('td', 'datetime2'))*5
p = len(soup.find_all(filter_for_history, string=is_the_only_string_within_a_tag))
        
price = list(chunks([text_to_num(tag) for tag in soup.find_all(filter_for_history, string= is_the_only_string_within_a_tag)], 5))
date = string_to_datetime(soup.find_all('td','datetime2'))

In [171]:
datetime.datetime.min

datetime.datetime(1, 1, 1, 0, 0)

In [83]:
def crawl_historical_data_of(company_name):
    """
    """
    page = 93 
    code = db.find_stock_code(company_name)
    
    while True:
        req = requests.get(f'http://finance.daum.net/item/quote_yyyymmdd_sub.daum?page={page}&code=090430&modify=1')
        html = req.text
        soup = BeautifulSoup(html, 'html.parser')
        d = len(soup.find_all('td', 'datetime2'))*5
        p = len(soup.find_all(filter_for_history, string=is_the_only_string_within_a_tag))

        
        price = list(chunks([text_to_num(tag) for tag in soup.find_all(filter_for_history, string= is_the_only_string_within_a_tag)], 5))
        date = string_to_datetime(soup.find_all('td','datetime2'))

        if(p == 150 and d==150):
            page +=1
            #pprint.pprint([[d] + p for d, p in zip(date, price)])
            yield [[code, d] + p for d, p in zip(date, price)]
        else:
            #pprint.pprint([[d] + p for d, p in zip(date, price)])
            yield [[code, d] + p for d, p in zip(date, price)]
            print("<--------------------------------------------------------->")
            print(f"page: {page}")
            print(f"datetime*5: {d}")
            print(f"price: {p}")
            print(f"{d==p}")
            YEAR_CHANGED = False
            break

[]

In [ ]:
from sqlalchemy import select

In [42]:
pprint.pprint([listdata_to_dict(oneday_info) for oneday_info in sample[0]])

[{'close': 40410,
  'code': '005930',
  'date': datetime.datetime(2006, 8, 21, 0, 0),
  'high': 40660,
  'low': 40110,
  'open': 40510,
  'volume': 164778},
 {'close': 40560,
  'code': '005930',
  'date': datetime.datetime(2006, 8, 18, 0, 0),
  'high': 41510,
  'low': 40560,
  'open': 40910,
  'volume': 113121},
 {'close': 41460,
  'code': '005930',
  'date': datetime.datetime(2006, 8, 17, 0, 0),
  'high': 41560,
  'low': 40510,
  'open': 41110,
  'volume': 141264},
 {'close': 41560,
  'code': '005930',
  'date': datetime.datetime(2006, 8, 16, 0, 0),
  'high': 41860,
  'low': 41560,
  'open': 41810,
  'volume': 65833},
 {'close': 41810,
  'code': '005930',
  'date': datetime.datetime(2006, 8, 14, 0, 0),
  'high': 41910,
  'low': 41410,
  'open': 41910,
  'volume': 46078},
 {'close': 41860,
  'code': '005930',
  'date': datetime.datetime(2006, 8, 11, 0, 0),
  'high': 42010,
  'low': 41210,
  'open': 41910,
  'volume': 45428},
 {'close': 41910,
  'code': '005930',
  'date': datetime.datetime(2006, 8, 10, 0, 0),
  'high': 41910,
  'low': 41260,
  'open': 41560,
  'volume': 50317},
 {'close': 41860,
  'code': '005930',
  'date': datetime.datetime(2006, 8, 9, 0, 0),
  'high': 41860,
  'low': 40510,
  'open': 40510,
  'volume': 70442},
 {'close': 41510,
  'code': '005930',
  'date': datetime.datetime(2006, 8, 8, 0, 0),
  'high': 41510,
  'low': 40560,
  'open': 40560,
  'volume': 71812},
 {'close': 40960,
  'code': '005930',
  'date': datetime.datetime(2006, 8, 7, 0, 0),
  'high': 41210,
  'low': 40710,
  'open': 41010,
  'volume': 43419},
 {'close': 41110,
  'code': '005930',
  'date': datetime.datetime(2006, 8, 4, 0, 0),
  'high': 41110,
  'low': 40360,
  'open': 40460,
  'volume': 164428},
 {'close': 40460,
  'code': '005930',
  'date': datetime.datetime(2006, 8, 3, 0, 0),
  'high': 40810,
  'low': 39510,
  'open': 40810,
  'volume': 68012},
 {'close': 40210,
  'code': '005930',
  'date': datetime.datetime(2006, 8, 2, 0, 0),
  'high': 40310,
  'low': 39910,
  'open': 40210,
  'volume': 67803},
 {'close': 40110,
  'code': '005930',
  'date': datetime.datetime(2006, 8, 1, 0, 0),
  'high': 40110,
  'low': 39810,
  'open': 40110,
  'volume': 70752},
 {'close': 40110,
  'code': '005930',
  'date': datetime.datetime(2006, 7, 31, 0, 0),
  'high': 40260,
  'low': 39810,
  'open': 40060,
  'volume': 99294},
 {'close': 40010,
  'code': '005930',
  'date': datetime.datetime(2006, 7, 28, 0, 0),
  'high': 40010,
  'low': 39460,
  'open': 39960,
  'volume': 107402},
 {'close': 39960,
  'code': '005930',
  'date': datetime.datetime(2006, 7, 27, 0, 0),
  'high': 40310,
  'low': 39810,
  'open': 39960,
  'volume': 204497},
 {'close': 39510,
  'code': '005930',
  'date': datetime.datetime(2006, 7, 26, 0, 0),
  'high': 40310,
  'low': 39510,
  'open': 40010,
  'volume': 396268},
 {'close': 40010,
  'code': '005930',
  'date': datetime.datetime(2006, 7, 25, 0, 0),
  'high': 41460,
  'low': 39810,
  'open': 41460,
  'volume': 174545},
 {'close': 40060,
  'code': '005930',
  'date': datetime.datetime(2006, 7, 24, 0, 0),
  'high': 40060,
  'low': 39410,
  'open': 39410,
  'volume': 232910},
 {'close': 39410,
  'code': '005930',
  'date': datetime.datetime(2006, 7, 21, 0, 0),
  'high': 40710,
  'low': 39360,
  'open': 40210,
  'volume': 111801},
 {'close': 40810,
  'code': '005930',
  'date': datetime.datetime(2006, 7, 20, 0, 0),
  'high': 40910,
  'low': 40010,
  'open': 40760,
  'volume': 123578},
 {'close': 40510,
  'code': '005930',
  'date': datetime.datetime(2006, 7, 19, 0, 0),
  'high': 41010,
  'low': 40160,
  'open': 40160,
  'volume': 119159},
 {'close': 40510,
  'code': '005930',
  'date': datetime.datetime(2006, 7, 18, 0, 0),
  'high': 43011,
  'low': 40510,
  'open': 43011,
  'volume': 208626},
 {'close': 43061,
  'code': '005930',
  'date': datetime.datetime(2006, 7, 14, 0, 0),
  'high': 45862,
  'low': 41661,
  'open': 42711,
  'volume': 99604},
 {'close': 43011,
  'code': '005930',
  'date': datetime.datetime(2006, 7, 13, 0, 0),
  'high': 44411,
  'low': 42161,
  'open': 43811,
  'volume': 181733},
 {'close': 44511,
  'code': '005930',
  'date': datetime.datetime(2006, 7, 12, 0, 0),
  'high': 45111,
  'low': 43261,
  'open': 44811,
  'volume': 199009},
 {'close': 45511,
  'code': '005930',
  'date': datetime.datetime(2006, 7, 11, 0, 0),
  'high': 45711,
  'low': 44811,
  'open': 45361,
  'volume': 202218},
 {'close': 45761,
  'code': '005930',
  'date': datetime.datetime(2006, 7, 10, 0, 0),
  'high': 45861,
  'low': 44611,
  'open': 44611,
  'volume': 139544},
 {'close': 45811,
  'code': '005930',
  'date': datetime.datetime(2006, 7, 7, 0, 0),
  'high': 45911,
  'low': 44411,
  'open': 45061,
  'volume': 294374}]

In [43]:
len([listdata_to_dict(oneday_info) for oneday_info in sample[0]])

30

In [44]:
len(sample[0])

30

In [51]:
data_count

36

# Save 부분

In [388]:
total_count = 0
data_count = 0
historical_data_list = []

data_bomb = base_crawl_method_for_history('삼성전자', "2018-2-20", "2018-2-27")

for data in data_bomb:
    data_count += len(data)
    #pprint.pprint(listdata_to_dict(data))
    historical_data_list += [listdata_to_dict(oneday_info) for oneday_info in data]

    if(data_count == 100):
        total_count +=100
        # 종목코드 DB에 저장한다.
        data_count = 0
        is_okay = db.insert_multiple('hist_data', historical_data_list)
        historical_data_list = []

is_okay = db.insert_multiple('hist_data', historical_data_list)
total_count += data_count
print("총 {}의 데이터".format(total_count))
print(len(historical_data_list))
pprint.pprint(historical_data_list)

[[datetime.datetime(2018, 2, 26, 0, 0),
  2364000,
  2378000,
  2354000,
  2358000,
  70658],
 [datetime.datetime(2018, 2, 23, 0, 0),
  2338000,
  2390000,
  2338000,
  2361000,
  248466],
 [datetime.datetime(2018, 2, 22, 0, 0),
  2363000,
  2363000,
  2338000,
  2338000,
  177399],
 [datetime.datetime(2018, 2, 21, 0, 0),
  2364000,
  2379000,
  2342000,
  2364000,
  257604],
 [datetime.datetime(2018, 2, 20, 0, 0),
  2402000,
  2408000,
  2361000,
  2370000,
  202452]]
총 5의 데이터
5
[{'close': 2358000,
  'code': '005930',
  'date': datetime.datetime(2018, 2, 26, 0, 0),
  'high': 2378000,
  'low': 2354000,
  'open': 2364000,
  'volume': 70658},
 {'close': 2361000,
  'code': '005930',
  'date': datetime.datetime(2018, 2, 23, 0, 0),
  'high': 2390000,
  'low': 2338000,
  'open': 2338000,
  'volume': 248466},
 {'close': 2338000,
  'code': '005930',
  'date': datetime.datetime(2018, 2, 22, 0, 0),
  'high': 2363000,
  'low': 2338000,
  'open': 2363000,
  'volume': 177399},
 {'close': 2364000,
  'code': '005930',
  'date': datetime.datetime(2018, 2, 21, 0, 0),
  'high': 2379000,
  'low': 2342000,
  'open': 2364000,
  'volume': 257604},
 {'close': 2370000,
  'code': '005930',
  'date': datetime.datetime(2018, 2, 20, 0, 0),
  'high': 2408000,
  'low': 2361000,
  'open': 2402000,
  'volume': 202452}]

In [80]:
temp = []
data_bomb = base_crawl_method_for_history('삼성전자', "2018-2-20", "2018-2-27")

for data in data_bomb:
    print("<><><><><><><><><><><><><><>")
    temp += [listdata_to_dict(oneday_info) for oneday_info in data]

[['005930',
  datetime.datetime(2018, 2, 26, 0, 0),
  2364000,
  2378000,
  2354000,
  2369000,
  163980],
 ['005930',
  datetime.datetime(2018, 2, 23, 0, 0),
  2338000,
  2390000,
  2338000,
  2361000,
  248466],
 ['005930',
  datetime.datetime(2018, 2, 22, 0, 0),
  2363000,
  2363000,
  2338000,
  2338000,
  177399],
 ['005930',
  datetime.datetime(2018, 2, 21, 0, 0),
  2364000,
  2379000,
  2342000,
  2364000,
  257604],
 ['005930',
  datetime.datetime(2018, 2, 20, 0, 0),
  2402000,
  2408000,
  2361000,
  2370000,
  202452]]
<><><><><><><><><><><><><><>

In [81]:
temp

[{'close': 2369000,
  'code': '005930',
  'date': datetime.datetime(2018, 2, 26, 0, 0),
  'high': 2378000,
  'low': 2354000,
  'open': 2364000,
  'volume': 163980},
 {'close': 2361000,
  'code': '005930',
  'date': datetime.datetime(2018, 2, 23, 0, 0),
  'high': 2390000,
  'low': 2338000,
  'open': 2338000,
  'volume': 248466},
 {'close': 2338000,
  'code': '005930',
  'date': datetime.datetime(2018, 2, 22, 0, 0),
  'high': 2363000,
  'low': 2338000,
  'open': 2363000,
  'volume': 177399},
 {'close': 2364000,
  'code': '005930',
  'date': datetime.datetime(2018, 2, 21, 0, 0),
  'high': 2379000,
  'low': 2342000,
  'open': 2364000,
  'volume': 257604},
 {'close': 2370000,
  'code': '005930',
  'date': datetime.datetime(2018, 2, 20, 0, 0),
  'high': 2408000,
  'low': 2361000,
  'open': 2402000,
  'volume': 202452}]

In [82]:
added = [add_target_item(dic, 'date') for dic in temp]

In [83]:
added

[{'close': 2369000,
  'code': '005930',
  'date': datetime.datetime(2018, 2, 26, 0, 0),
  'high': 2378000,
  'low': 2354000,
  'open': 2364000,
  'target_date': datetime.datetime(2018, 2, 26, 0, 0),
  'volume': 163980},
 {'close': 2361000,
  'code': '005930',
  'date': datetime.datetime(2018, 2, 23, 0, 0),
  'high': 2390000,
  'low': 2338000,
  'open': 2338000,
  'target_date': datetime.datetime(2018, 2, 23, 0, 0),
  'volume': 248466},
 {'close': 2338000,
  'code': '005930',
  'date': datetime.datetime(2018, 2, 22, 0, 0),
  'high': 2363000,
  'low': 2338000,
  'open': 2363000,
  'target_date': datetime.datetime(2018, 2, 22, 0, 0),
  'volume': 177399},
 {'close': 2364000,
  'code': '005930',
  'date': datetime.datetime(2018, 2, 21, 0, 0),
  'high': 2379000,
  'low': 2342000,
  'open': 2364000,
  'target_date': datetime.datetime(2018, 2, 21, 0, 0),
  'volume': 257604},
 {'close': 2370000,
  'code': '005930',
  'date': datetime.datetime(2018, 2, 20, 0, 0),
  'high': 2408000,
  'low': 2361000,
  'open': 2402000,
  'target_date': datetime.datetime(2018, 2, 20, 0, 0),
  'volume': 202452}]

In [110]:
db.insert_multiple('hist_data', [])

This is empty dict

False

In [64]:
is_okay

True

In [ ]:
temp_dict = {
                'code': data[0],        # 종목코드
                'date': data[1],        # 날짜
                'price_close': int(data[2].replace(',', '')), # 종가
                'price_open': int(data[3].replace(',', '')),  # 시가
                'price_high': int(data[4].replace(',', '')),  # 고가
                'price_low' : int(data[5].replace(',', '')),  # 저가
                'volume'    : int(data[6].replace(',', '')),  # 거래량
            }

In [217]:
page = 96
while True:
    req = requests.get(f'http://finance.daum.net/item/quote_yyyymmdd_sub.daum?page={page}&code=090430&modify=1')
    html = req.text
    soup = BeautifulSoup(html, 'html.parser')
    d = len(soup.find_all('td', 'datetime2'))*5
    p = len(soup.find_all(filter_for_history, string=is_the_only_string_within_a_tag))
    
    
    price = list(chunks([text_to_num(tag) for tag in soup.find_all(filter_for_history, string= is_the_only_string_within_a_tag)], 5))
    date = string_to_datetime(soup.find_all('td','datetime2'))
    
    if(p == 150 and d==150):
        page +=1
        pprint.pprint([[d] + p for d, p in zip(date, price)])
    else:
        pprint.pprint([[d] + p for d, p in zip(date, price)])
        print("<--------------------------------------------------------->")
        print(f"page: {page}")
        print(f"datetime*5: {d}")
        print(f"price: {p}")
        print(f"{d==p}")
        break

[[datetime.datetime(2006, 8, 18, 0, 0), 40910, 41510, 40560, 40560, 113121],
 [datetime.datetime(2006, 8, 17, 0, 0), 41110, 41560, 40510, 41460, 141264],
 [datetime.datetime(2006, 8, 16, 0, 0), 41810, 41860, 41560, 41560, 65833],
 [datetime.datetime(2006, 8, 14, 0, 0), 41910, 41910, 41410, 41810, 46078],
 [datetime.datetime(2006, 8, 11, 0, 0), 41910, 42010, 41210, 41860, 45428],
 [datetime.datetime(2006, 8, 10, 0, 0), 41560, 41910, 41260, 41910, 50317],
 [datetime.datetime(2006, 8, 9, 0, 0), 40510, 41860, 40510, 41860, 70442],
 [datetime.datetime(2006, 8, 8, 0, 0), 40560, 41510, 40560, 41510, 71812],
 [datetime.datetime(2006, 8, 7, 0, 0), 41010, 41210, 40710, 40960, 43419],
 [datetime.datetime(2006, 8, 4, 0, 0), 40460, 41110, 40360, 41110, 164428],
 [datetime.datetime(2006, 8, 3, 0, 0), 40810, 40810, 39510, 40460, 68012],
 [datetime.datetime(2006, 8, 2, 0, 0), 40210, 40310, 39910, 40210, 67803],
 [datetime.datetime(2006, 8, 1, 0, 0), 40110, 40110, 39810, 40110, 70752],
 [datetime.datetime(2006, 7, 31, 0, 0), 40060, 40260, 39810, 40110, 99294],
 [datetime.datetime(2006, 7, 28, 0, 0), 39960, 40010, 39460, 40010, 107402],
 [datetime.datetime(2006, 7, 27, 0, 0), 39960, 40310, 39810, 39960, 204497],
 [datetime.datetime(2006, 7, 26, 0, 0), 40010, 40310, 39510, 39510, 396268],
 [datetime.datetime(2006, 7, 25, 0, 0), 41460, 41460, 39810, 40010, 174545],
 [datetime.datetime(2006, 7, 24, 0, 0), 39410, 40060, 39410, 40060, 232910],
 [datetime.datetime(2006, 7, 21, 0, 0), 40210, 40710, 39360, 39410, 111801],
 [datetime.datetime(2006, 7, 20, 0, 0), 40760, 40910, 40010, 40810, 123578],
 [datetime.datetime(2006, 7, 19, 0, 0), 40160, 41010, 40160, 40510, 119159],
 [datetime.datetime(2006, 7, 18, 0, 0), 43011, 43011, 40510, 40510, 208626],
 [datetime.datetime(2006, 7, 14, 0, 0), 42711, 45862, 41661, 43061, 99604],
 [datetime.datetime(2006, 7, 13, 0, 0), 43811, 44411, 42161, 43011, 181733],
 [datetime.datetime(2006, 7, 12, 0, 0), 44811, 45111, 43261, 44511, 199009],
 [datetime.datetime(2006, 7, 11, 0, 0), 45361, 45711, 44811, 45511, 202218],
 [datetime.datetime(2006, 7, 10, 0, 0), 44611, 45861, 44611, 45761, 139544],
 [datetime.datetime(2006, 7, 7, 0, 0), 45061, 45911, 44411, 45811, 294374],
 [datetime.datetime(2006, 7, 6, 0, 0), 44011, 44811, 43661, 44411, 227741]]
[[datetime.datetime(2006, 7, 5, 0, 0), 42711, 44011, 42711, 44011, 182793],
 [datetime.datetime(2006, 7, 4, 0, 0), 41560, 44311, 41560, 44011, 277299],
 [datetime.datetime(2006, 7, 3, 0, 0), 41310, 41710, 39910, 41460, 207367],
 [datetime.datetime(2006, 6, 30, 0, 0), 39610, 40960, 39010, 40960, 689333],
 [datetime.datetime(2006, 6, 29, 0, 0), 38009, 40509, 37509, 38509, 1195342]]
<--------------------------------------------------------->
page: 97
datetime*5: 25
price: 25
True

In [ ]:
crawler = BigBull.StockCodeCrawler(db)

In [ ]:
crawler.save_stock_code()